{{ $nav := .Site.Data.nav.nav }}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<!-- <footer class="bg-dark text-inverse"> -->
	<!-- <footer class="bg-dark text-inverse"> -->
		<footer class="footer_backgroundcolor text-inverse">

	<div class="container py-13 py-md-15">
		<div class="row gy-6 gy-lg-0">
			<div class="col-md-4 col-lg-3 col-xl-3">
				<div class="widget">
					<img class="mb-4"
						src="https://res.cloudinary.com/biggworks/image/upload/v1677320785/footer_logo_fmwquj.png"
						alt="BiggWorks Logo" />
					<p class="mb-1">© 2023 All rights reserved.<br class="d-none d-lg-block" />SmartHeads Innovations Pvt Ltd
					</p>
					<nav class="nav social social-white">
						<!-- <a href="#"><i class="uil uil-twitter"></i></a> -->
						<a href="https://www.facebook.com/biggworkshq/" target="_blank"><i class="uil uil-facebook"></i></a>
						<!-- <a href="#"><i class="uil uil-dribbble"></i></a> -->
						<a href="https://www.instagram.com/biggworks/" target="_blank"><i class="uil uil-instagram-alt"></i></a>
						<!-- <a href="#"><i class="uil uil-youtube"></i></a> -->
						<a href="https://www.linkedin.com/company/biggworks/" target="_blank"><i class="uil uil-linkedin"></i></a>


					</nav>
				</div>
			</div>
			<div class="col-md-5 col-lg-3 col-xl-3">
				<div class="widget">
					<h4 class="widget-title text-white mb-3">Get in Touch</h4>
					<span><i class="uil uil-envelope-alt"></i><a class="ps-1" href="mailto:sales@biggworks.com">sales@biggworks.com</a><br /></span> 
					<span><i class="uil uil-phone"></i><p class="ps-1" style=" display: inline;">+91 9483225221</p></span>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">More</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="{{ $nav.navlinks.services.link }}">Services</a></li>
            <li><a href="{{ $nav.navlinks.works.link }}">Works</a></li>
            <!-- <li><a href="{{ $nav.navlinks.blog.link }}">Blog</a></li> -->
            <!-- <li><a href="{{ $nav.navlinks.about.link }}">About</a></li> -->
            <li><a href="{{ $nav.navlinks.careers.link }}">Carees</a></li>
            <li><a href="{{ $nav.navlinks.contact.link }}">Contact</a></li>

        </ul>
        </div>
      </div>
			<div class="col-md-12 col-lg-3">
				<div class="widget">
					<p class="mb-0">Subscribe to get latest updates.</p>
					<div class="newsletter-wrapper">
						<div id="mc_embed_signup2">
							<!-- <form
								
								method="post" id="" name="mc-embedded-subscribe-form"
								class="validate dark-fields" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll2">
									<div class="mc-field-group input-group form-label-group">
										<input type="email" value="" name="EMAIL" class="required email form-control"
											placeholder="Email Address" id="mce-EMAIL2">
										<label for="mce-EMAIL2">Email Address</label>
										<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2"
											class="btn_btn  btn-light button-fontcolor">
									</div>
									
									<div id="message" class="mt-2"></div>

									<div id="mce-responses2" class="clear">
										<div class="response" id="mce-error-response2" style="display:none"></div>
										<div class="response" id="mce-success-response2" style="display:none"></div>
									</div>
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input
											type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1"
											value=""></div>
									<div class="clear"></div>
								</div>
							</form> -->
							<!-- <form 
							
							
							method="post" id="" name="mc-embedded-subscribe-form" class="validate dark-fields" novalidate>
								<div id="mc_embed_signup_scroll2">
								  <div class="mc-field-group input-group form-label-group">
									<input type="email" name="EMAIL" class="required email form-control form-control-radius" placeholder="Email Address" id="mce-EMAIL2">
									<label for="mce-EMAIL2">Email Address</label>
									<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn_btn  btn-light button-fontcolor">
								  </div>
							  
								  <div id="message" class="mt-2"></div>
							  
								  <div id="mce-responses2" class="clear">
									<div class="response" id="mce-error-response2" style="display:none"></div>
									<div class="response" id="mce-success-response2" style="display:none"></div>
								  </div>
								  <div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value="">
								  </div>
								  <div class="clear"></div>
								</div>
							  </form> -->

							  <!-- <form id="test" method="post" class="validate dark-fields" onsubmit="submitEmail()">
								<div class="mc-field-group input-group form-label-group">
									<input type="email" name="EMAIL" class="required email form-control form-control-radius" placeholder="Email Address" id="footerEmail">
									<label for="mce-EMAIL2">Email Address</label>
									<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn_btn  btn-light button-fontcolor">
									
								  </div>
								  <div id="message" class="mt-2"></div>
		
							  </form> -->

							  <form id="test" method="post" class="validate dark-fields" onsubmit="submitEmail()">
								<div class="mc-field-group input-group form-label-group">
								<input type="email" id="footerEmail" name="emails" placeholder="Enter your email" required class="required email form-control form-control-radius" style="padding-top: 0px; padding-bottom: 0px;"/>
								<input type="submit" value="Join" class="btn_btn  btn-light button-fontcolor"/>
							  </div>
							  </form>
							  <div id="message" class="mt-2 hidden"></div>

							  
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- <script>
	const emailField = document.getElementById('footerEmail');
const joinButton = document.getElementById('get');
const message = document.getElementById('message');

joinButton.addEventListener('click', function(e) {
	e.preventDefault()
  const email = emailField.value;

  if (email.trim() !== '') { 
	
	message.style.color = 'blue';
    message.textContent = 'Subscribed';
  }
});
</script> -->
<script>
// 	const firebaseConfig = {
// apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
// authDomain: "biggworks-dd979.firebaseapp.com",
// databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
// projectId: "biggworks-dd979",
// storageBucket: "biggworks-dd979.appspot.com",
// messagingSenderId: "160882722753",
// appId: "1:160882722753:web:f067b273803ff585359140",
// measurementId: "G-377HKGT4RW"
// };
// firebase.initializeApp(firebaseConfig);
let emailInfo = firebase.database().ref("emailInfo");


	function submitEmail() {
		event.preventDefault()

		let newContactInfo = emailInfo.push();

		let data = document.getElementById("footerEmail").value

		newContactInfo.set({
			email : data
		})

		let form = document.getElementById("test");
  form.reset();

   // Display the "joined" message
   let message = document.getElementById("message");
   message.style.display = "block";
  message.textContent = "Subscribed to Biggworks: " + data;

  // Hide the message after a certain time (optional)
  setTimeout(function() {
    message.style.display = "none";
  }, 3000); // 3 seconds
		// console.log("function calling =====",data)
		
	}




</script>




<!-- <script>
    const firebaseConfig = {
    apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
    authDomain: "biggworks-dd979.firebaseapp.com",
    databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "biggworks-dd979",
    storageBucket: "biggworks-dd979.appspot.com",
    messagingSenderId: "160882722753",
    appId: "1:160882722753:web:f067b273803ff585359140",
    measurementId: "G-377HKGT4RW"
    };
    firebase.initializeApp(firebaseConfig);
    
    let candidateInfo = firebase.database().ref("emailInfo");
    
    var application=document.getElementById("application");
    
    function saveRecordtoDatabase() {


    console.log("saveRecordtoDatabase");


    event.preventDefault();
    let newCandidateInfo = candidateInfo.push();
    
    newCandidateInfo.set({
      email: document.getElementById('mce-EMAIL2').value,
     
    });
    }
    </script> -->

	<script>
// const emailInput = document.getElementById("email-input").value; // Assuming you have an input field with the id "email-input"

// const emailsRef = firebase.database().ref("emails");
// emailsRef.push().set({ email: emailInput })
//   .then(() => {
//     console.log("Email ID saved to Firebase database.");
//   })
//   .catch((error) => {
//     console.error("Error saving email ID:", error);
//   });

	</script>