
 {{ $nav := .Site.Data.nav.nav }}

 <header class="wrapper bg-light">
  <style>
    .landingpagesinnavbar ul {
        list-style: none;
    }
    .landingpagesinnavbar ul li {
        margin: 0; /* Remove any default margins */
        padding: 0; /* Remove any default padding */
    }
    .landingpagesinnavbar ul li a {
        color: white;
        text-decoration: none; /* Remove underline from links */
    }


    @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
</style>
 
 
  <nav
  class="navbar center-nav transparent navbar-expand-lg fixed-top">
  <div class="container-fluid flex-lg-row flex-nowrap align-items-center navbar-header-color" style="padding: 0% 5% 0% 5%;">
    <div class="navbar-brand w-100">
      <a href="/" >
        <img class="logo-dark img-fluid col-xxl-1 col-xl-2 col-lg-2 col-md-1 col-sm-1"
        src="https://res.cloudinary.com/biggworks/image/upload/v1697800312/logo/Biggworks-logo.svg"
        alt="BiggWorks Logo Nav" />
    <img class="logo-light img-fluid col-xxl-1 col-xl-2 col-lg-2 col-md-1 col-sm-1"
        src="https://res.cloudinary.com/biggworks/image/upload/v1697800312/logo/Biggworks-logo.svg"
        alt="Biggworks Logo" />
      </a>
    </div>




    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end navbar-collapse" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background: black; width: 80%;">
      <button type="button" class="btn-close float-end" data-bs-dismiss="offcanvas" aria-label="Close" style="color: #fff; margin-right: 20px;">
        <span class="iconify-inline" data-icon="la:times" style="font-size: 28px; color: #FFFFFF;"></span>
      </button>

      <div class="offcanvas-header" style="padding-left: 4%;">
        <a href="/"
        >
        <img
          src="https://res.cloudinary.com/biggworks/image/upload/v1696927992/logo/biggworks_logo2.svg"
          alt=""
      />
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ml-auto">
        

         
  
          <!-- <li class="nav-item dropdown-nav" >
            <a class="nav-link dropbtn-nav" href="{{ $nav.navlinks.services.link }}"  >
              {{ $nav.navlinks.services.text }}
              </a>
           
            <ul class="dropdown-content-nav">
              <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage1.link }}">IOT Development
              </a></li>
              
              <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}">Mobile App Development</a></li>
              <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}">Web Development</a></li>
              <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}">Team Extension
              </a></li>
            </ul>  
           
            
            <ul class="dropdown">
              <li><a href="#">Germany</a></li>
              <li><a href="#">Australia</a></li>
              <li><a href="#">Switzerland</a></li>
              <li><a href="#">Japan</a></li>
          </ul>
          </li> -->
          <!-- <div class="landingpagesinnavbar">
  
            <ul style="padding-left: 0rem;">
              <li><a class="dropdown-item"  href="{{ $nav.navlinks.landingpage1.link }}" style="color: #fff; list-style: none; padding-left: 12px;">IOT Development</a></li>
  
              
              <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}" style="color: white; list-style: none; padding-left: 12px;">Mobile App Development</a></li>
              <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}" style="color: white; list-style: none; padding-left: 12px;">Web Development</a></li>
              <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}" style="color: white; list-style: none; padding-left: 12px;">Team Extension
              </a></li>
            </ul> 
          </div> -->
          <li class="nav-item dropdown">
            <div style="display: flex;">
            <a style="padding-right: 0px;" class="nav-link" href="{{ $nav.navlinks.services.link }}">
                {{ $nav.navlinks.services.text }}
            </a>
            <a class="nav-link dropdown-toggle ps-3" href="#" data-bs-toggle="dropdown"></a>
          </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage1.link }}">IOT Development</a></li>
                <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}">Mobile App Development</a></li>
                <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}">Web Development</a></li>
                <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}">Team Extension</a></li>
            </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ $nav.navlinks.works.link }}"
              >{{ $nav.navlinks.works.text }}</a
            >
           
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{ $nav.navlinks.articles.link }}"
              >{{ $nav.navlinks.articles.text }}</a
            >
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="{{ $nav.navlinks.careers.link }}"
              >{{ $nav.navlinks.careers.text }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ $nav.navlinks.contact.link }}"
              >{{ $nav.navlinks.contact.text }}</a
            >
           
          </li>
         
        </ul>

      </div>
    </div>










    <!-- <div class="navbar-other w-100 d-flex ms-auto">
      <ul
        class="navbar-nav flex-row align-items-center ms-auto"
        data-sm-skip="true">
        <li class="nav-item d-lg-none">
          <div class="navbar-hamburger">
            <button
              class="hamburger animate plain"
              data-toggle="offcanvas-nav">
              <span></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="navbar-collapse offcanvas-nav align">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a href="/"
          >
          <img
            src="https://res.cloudinary.com/biggworks/image/upload/v1696927992/logo/biggworks_logo2.svg"
            alt=""
        />
      </a>
       
      </div>
      <ul class="navbar-nav ml-auto">
        

       

        <li class="nav-item dropdown-nav" >
          <a class="nav-link dropbtn-nav" href="{{ $nav.navlinks.services.link }}"  >
            {{ $nav.navlinks.services.text }}
            </a>
         
          <ul class="dropdown-content-nav">
            <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage1.link }}">IOT Development
            </a></li>
            
            <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}">Mobile App Development</a></li>
            <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}">Web Development</a></li>
            <li class="nav-item" style="list-style-type: none;"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}">Staff Augmentation
            </a></li>
          </ul>  
         
          
         
        </li>
        <div class="landingpagesinnavbar">

          <ul style="padding-left: 0rem;">
            <li><a class="dropdown-item"  href="{{ $nav.navlinks.landingpage1.link }}" style="color: #fff; list-style: none; padding-left: 12px;">IOT Development</a></li>

            
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}" style="color: white; list-style: none; padding-left: 12px;">Mobile App Development</a></li>
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}" style="color: white; list-style: none; padding-left: 12px;">Web Development</a></li>
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}" style="color: white; list-style: none; padding-left: 12px;">Staff Augmentation
            </a></li>
          </ul> 
        </div>
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.works.link }}"
            >{{ $nav.navlinks.works.text }}</a
          >
         
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.articles.link }}"
            >{{ $nav.navlinks.articles.text }}</a
          >
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.careers.link }}"
            >{{ $nav.navlinks.careers.text }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.contact.link }}"
            >{{ $nav.navlinks.contact.text }}</a
          >
         
        </li>
       
      </ul>
    </div> -->
  </div>
</nav>
</div>

</header>
