
 {{ $nav := .Site.Data.nav.nav }}

 <header class="wrapper bg-light">
  <style>
    .landingpagesinnavbar ul {
        list-style: none;
    }
    .landingpagesinnavbar ul li {
        margin: 0; /* Remove any default margins */
        padding: 0; /* Remove any default padding */
    }
    .landingpagesinnavbar ul li a {
        color: white;
        text-decoration: none; /* Remove underline from links */
    }
</style>
 
  <!-- <div class="bg-primary text-white fw-bold fs-15 mb-2">
      <div class="container d-md-flex flex-md-row">
                <div class="d-flex flex-row align-items-center">
              <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-location-pin-alt"></i></div>
              <address class="mb-0">Bengaluru, Mysuru, New York, Singapore</address>
          </div>
          <div class="d-flex flex-row align-items-center me-6 ms-auto">
              <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-phone-volume"></i></div>
              <p class="mb-0">+91 8088354074</p>
          </div>
          <div class="d-flex flex-row align-items-center">
              <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-message"></i></div>
              <p class="mb-0"><a href="mailto:sandbox@email.com" class="link-white hover">hello@biggworks.com</a></p>
          </div>
      </div>
      /.container
  </div> -->
  <nav
  class="navbar center-nav transparent navbar-expand-lg ">
  <div class="container flex-lg-row flex-nowrap align-items-center navbar-header-color">
    <div class="navbar-brand w-100">
      <a href="/" >
        <img class="logo-dark img-fluid col-xl-3 col-md-3 col-3"
        src="https://res.cloudinary.com/biggworks/image/upload/v1696596078/logo/Group_1_1_x7rq9z.svg"
        alt="" />
    <img class="logo-light img-fluid col-xl-3 col-md-3 col-3"
        src="https://res.cloudinary.com/biggworks/image/upload/v1696596078/logo/Group_1_1_x7rq9z.svg"
        alt="" />
      </a>
    </div>
    <div class="navbar-other w-100 d-flex ms-auto">
      <ul
        class="navbar-nav flex-row align-items-center ms-auto"
        data-sm-skip="true">
        <li class="nav-item d-lg-none">
          <div class="navbar-hamburger">
            <button
              class="hamburger animate plain"
              data-toggle="offcanvas-nav">
              <span></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse offcanvas-nav align">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/biggworks/image/upload/v1673573177/Group_49_tkefy5.png"
            alt=""
        /></a>
        <!-- <button
          type="button"
          class="btn-custum btn-close-white offcanvas-close offcanvas-nav-close" style="border-color: black;"
          aria-label="Close"><i class="uil uil-times" id="timesIcon"></i></button> -->
      </div>
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item dropdown" >
          <a class="nav-link ropdown-toggle" href="{{ $nav.navlinks.services.link }}"  >
            {{ $nav.navlinks.services.text }}
            </a>
         
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage1.link }}">IOT Development
            </a></li>
            
            <li class="nav-item"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}">Mobile App Development</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}">Web Development</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}">Staff Augmentation
            </a></li>
          </ul>  
         
          
          <!-- <ul class="dropdown">
            <li><a href="#">Germany</a></li>
            <li><a href="#">Australia</a></li>
            <li><a href="#">Switzerland</a></li>
            <li><a href="#">Japan</a></li>
        </ul> -->
        </li>
        <div class="landingpagesinnavbar">

          <ul style="padding-left: 0rem;">
            <li><a class="dropdown-item"  href="{{ $nav.navlinks.landingpage1.link }}" style="color: #fff; list-style: none; padding-left: 12px;">IOT Development</a></li>

            
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage3.link }}" style="color: white; list-style: none; padding-left: 12px;">Mobile App Development</a></li>
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage4.link }}" style="color: white; list-style: none; padding-left: 12px;">Web Development</a></li>
            <li><a class="dropdown-item" href="{{ $nav.navlinks.landingpage2.link }}" style="color: white; list-style: none; padding-left: 12px;">Staff Augmentation
            </a></li>
          </ul> 
        </div>
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.works.link }}"
            >{{ $nav.navlinks.works.text }}</a
          >
         
        </li>
         <!-- <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.articles.link }}"
            >{{ $nav.navlinks.articles.text }}</a
          >
        </li> -->
      
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.careers.link }}"
            >{{ $nav.navlinks.careers.text }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $nav.navlinks.contact.link }}"
            >{{ $nav.navlinks.contact.text }}</a
          >
         
        </li>
       
      </ul>
    </div>
  </div>
</nav>
</div>

</header>
