<!-- <script src="/js/scripts.js"></script>
<script src="/js/plugins.js"></script> -->
<!-- <script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
<!-- {{ $scripts := resources.Get "/js/scripts.js" | resources.Minify }}
<script src="{{ $scripts.RelPermalink }}"></script>

{{ $plugins := resources.Get "/js/plugins.js" | resources.Minify }}
<script src="{{ $plugins.RelPermalink }}"></script> -->

{{ $os := slice (resources.Get "/js/scripts.js") (resources.Get "/js/plugins.js") | resources.Concat "js/all.js" | resources.Minify }}
<script src="{{ $os.RelPermalink }}"></script>


  <!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-SHVPDCWVDB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SHVPDCWVDB');
</script>


<!-- {{ $scripts := slice "/js/scripts.js" "/js/plugins.js" }} 
{{ $concatenated := slice }}
{{ range $script := $scripts }}
    {{ $resource := resources.Get $script }}
    {{ $concatenated = $concatenated | append $resource }}
{{ end }}
{{ $minified := $concatenated | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint  }}
<script src="{{ $minified.Permalink }}"></script> -->