
{{ define "main" }}
<body>
  <div class="content-wrapper">
<header class="wrapper bg-soft-primary">
  {{ partial "nav.html" . }}
  <!-- /.navbar -->
</header>

<section class="wrapper bg-light">
    <div class="d-flex align-items-center">
      <div class="container-fluid pt-10 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-8 mx-auto" data-group="page-title">
           
            <h1 class="display-1 mb-4">Articles
            </h1>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper bg-light">
    <div class="container pt-10 pb-11">
      <div class="row gy-12 gx-12 mx-auto mb-10">
        {{ $firstPage := true }}
        {{ range where .Site.Pages "Section" "articles" }}
            {{ if not $firstPage }}
                <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3" data-group="page-title">
                    <div class="card">
                        <div class="articles_card_body">
                            <img class="img-fluid" src="{{ .Params.image }}" alt="image there"/>
                            <h6 class="mb-11 mt-4">{{ .Params.subtitle }}</h6>
                            <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                                <span><a href="{{ .Params.link }}" class="btn btn-primary rounded-0 mx-1">Read Post</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            {{ else }}
                {{ $firstPage = false }} <!-- Set $firstPage to false after the first page -->
            {{ end }}
        {{ end }}

</div>
</div>
</section>
</div>
{{ partial "footer.html" . }} {{ partial "page-progress.html" . }}
</body>
{{ end }}