{{ define "main" }} {{ $resource := getJSON .Params.source }}

<!-- {{ printf "My data: %s"  $resource}} -->

<body>
    <div class="content-wrapper">
        <header class="wrapper bg-gray">
            {{ partial "nav.html" . }}
        </header>






        <section class="wrapper bg-linear-gradient-projects">
            <div class="d-flex align-items-center bg-overlay-400">
                <div class="container-fluid pb-13 pt-md-8 pb-md-17 pb-xl-22 pb-6 text-center">
                    <div class="row mb-10">
                        <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-8 mx-auto mb-xl-13 mb-lg-13 mb-md-13 mb-8" data-group="page-title">
                            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-5">
                                {{$resource.section_one.title}}
                            </h2>
                            <h3 class="display-4 mb-6 lh-sm">
                                {{$resource.section_one.subtitle}}
                            </h3>
                            <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                                <span><a
                                    href="#myModal1" data-bs-toggle="modal"
                                        class="btn btn-primary btn-lg rounded-0 mx-1" >{{$resource.section_one.btn_talk_to_us}}</a></span>
                            </div>


                            <div id="myModal1" class="modal fade" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                      <h4 class="modal-title text-center pt-6">{{$resource.section_one.modal_title}}
                                      </h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    <div class="modal-body">
                                      <section id="tabs" class="wrapper pt-0 pb-md-4">
                                        <div class="row">
                                          <div class="col-lg-15">
                                            
                                            <div class="tab-content">
                                              
                      
                                              <form class="contact-form" method="post" id="formContact" onsubmit="saveRecordtoDatabase()">
                                                <div class="messages"></div>
                                                <div class="controls">
                                                  <div class="row gx-4">
                                                    <div class="col-md-6">
                                                      <div class="form-label-group mb-4">
                                                        <input id="form_name" type="text" name="name" class="form-control"
                                                          placeholder="Jane" required="required"
                                                          data-error="First Name is required.">
                                                        <label for="form_name">{{$resource.section_one.fname}}</label>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                      <div class="form-label-group mb-4">
                                                        <input id="form_lastname" type="text" name="surname" class="form-control"
                                                          placeholder="Doe" required="required"
                                                          data-error="Last Name is required.">
                                                        <label for="form_lastname">{{$resource.section_one.lastname}}</label>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                      <div class="form-label-group mb-4">
                                                        <input id="form_email" type="email" name="email" class="form-control"
                                                          placeholder="jane.doe@example.com" required="required"
                                                          data-error="Valid email is required.">
                                                        <label for="form_email">{{$resource.section_one.email}}</label>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                      <div class="form-label-group mb-4">
                                                        <input id="form_phone" type="tel" name="phone" class="form-control"
                                                          placeholder="Your phone number">
                                                        <label for="form_phone">{{$resource.section_one.phone}}</label>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                    </div>
                                                    <div class="col-12">
                                                      <div class="form-label-group mb-4">
                                                        <textarea id="form_message" name="message" class="form-control"
                                                          placeholder="Your message" rows="5" required="required"
                                                          data-error="Message is required."></textarea>
                                                        <label for="form_message">{{$resource.section_one.message}}</label>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                    </div>
                                                    <div class="col-8 col-xl-9 col-lg-9 col-md-7"></div>
                                                    <div class="col-1">
                                                      <input type="submit" class="btn btn-primary  rounded-0 btn-send mb-3"
                                                        value="Send message">
                                  
                                                    </div>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                      
                      
                      
                                      </section>
                      
                      
                                    </div>
                      
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper bg-light">
            <div class="container pb-14 pb-md-4">
                <div class="row">
                    <div class="col-12">
                        <article class="mt-n21">
                            <div class="col-1"></div>
                            <figure class="mb-0"><img
                                    class="project1-image mt-xl-18 mt-lg-18 mt-20 mt-md-19 col-lg-10 col-md-10 col-10 center-main-image img-fluid"
                                    src="{{$resource.section_two.image}}" alt="" /></figure>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="container px-0 px-xl-14 px-lg-14 px-md-0">
                <p class="paragraph-project pt-lg-20_5 pt-md-8 pt-md-15 pt-0 px-5 text-justify">{{$resource.section_three.description}}
                </p>
                <h4 class="mb-6 mt-xl-6 mt-lg-6 mt-md-0 mt-2 px-4_5">{{$resource.section_three.client}}</h4>
                
                <div class="content">

                  <div class="row-container mb-4">
                      <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                      <div class="points-project ms-3">{{$resource.section_three.client1}}</div>
                  </div>
                  
                  {{ if $resource.section_three.client2 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client2}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client3 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client3}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client4 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client4}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client5 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client5}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client6 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client6}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client7 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3">{{$resource.section_three.client7}}</div>
                  </div>
                  {{ end }}
                  
                  {{ if $resource.section_three.client8 }}
                  <div class="row-container mb-4">
                    <img class="ps-5" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png" />
                    <div class="points-project ms-3 ">{{$resource.section_three.client8}}</div>
                  </div>
                  {{ end }}
                  
                  <a href="#1" class="read-more read-more-project  ps-5">Read More <img class="ps-3" src="https://res.cloudinary.com/biggworks/image/upload/v1684996473/Vector_5_yl7o1f.png" alt=""/></a>
                 


</div>






















               
                
               
                
                

                <div class="row g-0 mb-10">
                    <div class="col-1 col-lg-3 col-md-2 col-xl-3"></div>
                    <div class="col-lg-9 col-md-9 col-xl-9 col-10 pt-8">

                        <img class="mobile-robust-tracking col-12 col-xl-8 col-lg-8 img-fluid"
                            src="{{$resource.section_three.image}}" alt="" />
                    </div>
                </div>


            </div>
        </section>
        <section>
            <div class="container px-3 px-xl-14 px-lg-14 px-md-0">
                <h4 class="mb-4 mt-8">{{$resource.section_four.title}}</h4>
                {{ if $resource.section_four.hardware }}
                <h4 class="col-lg-8 col-md-8 col-sm-2 mb-7 mt-6 fw-semibold">{{$resource.section_four.hardware.hardwareheading}}</h4>
               
              
                <div class="row mb-6 mt-4">
                  
                    <div class="col-lg-1 col-xl-1 col-xs-4 col-6 col-sm-4 mb-8 mobile-text-center col-md-4 pe-15"><img
                            src="{{$resource.section_four.hardware.hardwareimage1}}" />
                    </div>
                    <div class="col-lg-1 col-xl-1 col-xs-4  col-6 col-sm-4 mb-8 col-md-4 mx-5"><img
                            src="{{$resource.section_four.hardware.hardwareimage2}}" />
                    </div>
                    {{ if $resource.section_four.hardware.hardwareimage3}}
                    <div class="col-lg-1 col-xl-1 col-6 col-xs-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                            src="{{$resource.section_four.hardware.hardwareimage3}}" />
                    </div>
                    {{ end }}
                    {{ if $resource.section_four.hardware.hardwareimage4}}
                    <div class="col-lg-1 col-xl-1 col-6 mb-8 col-md-4 mx-5 mobile-text-center"><img
                            src="{{$resource.section_four.hardware.hardwareimage4}}" />
                    </div>
                    {{ end }}
                    {{ if $resource.section_four.hardware.hardwareimage5}}
                    <div class="col-lg-1 col-xl-1 col-6 col-xs-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                            src="{{$resource.section_four.hardware.hardwareimage5}}" />
                    </div>
                    {{ end }}
                    {{ if $resource.section_four.hardware.hardwareimage6}}
                    <div class="col-lg-1 col-xl-1 col-6 mb-8 col-md-4 mx-5"><img
                            src="{{$resource.section_four.hardware.hardwareimage6}}"/>
                    </div>
                    {{ end }}
                    {{ if $resource.section_four.hardware.hardwareimage7}}
                    <div class="col-lg-1 col-xl-1 col-6 col-md-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                            src="{{$resource.section_four.hardware.hardwareimage7}}" />
                    </div>
                    {{ end }}

                    <div class="col-1"></div>
                    {{ if $resource.section_four.hardware.hardwareimage8}}
                    <div class="col-lg-1 col-xl-1 col-6 mb-8 col-md-4 pe-15"><img
                        src="{{$resource.section_four.hardware.hardwareimage8}}"/>
                    </div>
                    {{end }}
                    {{ if $resource.section_four.hardware.hardwareimage9}}
                     <div class="col-lg-1 col-xl-1 col-6 col-md-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                        src="{{$resource.section_four.hardware.hardwareimage9}}" />
                     </div>
                     {{ end }}
                     {{ if $resource.section_four.hardware.hardwareimage10}}
                     <div class="col-lg-1 col-xl-1 col-6 col-md-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                        src="{{$resource.section_four.hardware.hardwareimage10}}" />
                     </div>
                     {{ end }}
                </div>

                {{ end }}
                {{ if $resource.section_four.cloudserver }}
                <h4 class="mb-6 mt-4 fw-semibold fw-semibold">{{$resource.section_four.cloudserver.cloudserverheading}}</h4>
                <div class="row mt-4">
                    <div class="col-6 col-lg-2 mb-4 mobile-text-center col-md-4 pe-15"><img
                            src="{{$resource.section_four.cloudserver.cloudserverimage1}}" />
                    </div>
                    <div class="col-6 col-lg-2 mb-4 col-md-4 mx-5"><img src="{{$resource.section_four.cloudserver.cloudserverimage2}}" />
                    </div>

                </div>

                {{ end }}

                {{ if $resource.section_four.mobileapplications}}
                <h4 class="mb-7 mt-4 fw-semibold fw-semibold">{{$resource.section_four.mobileapplications.mobileapplicationsheading}}</h4>
                
                <div class="row mb-7 mt-4">
                    <div class="col-6 col-lg-1 col-xl-1 mb-4 mobile-text-center col-md-4 pe-15"><img
                            src="{{$resource.section_four.mobileapplications.mobileapplicationsimage1}}" />
                    </div>
                    <div class="col-6 col-lg-1 col-xl-1 mb-4 col-md-4 mx-5"><img
                            src="{{$resource.section_four.mobileapplications.mobileapplicationsimage2}}" />
                    </div>
                    <div class="col-6 col-lg-1 col-xl-1 mb-4 mobile-text-center col-md-4 mx-5"><img
                        src="{{$resource.section_four.mobileapplications.mobileapplicationsimage3}}" />
                </div>
                <div class="col-6 col-lg-1 col-xl-1 mb-4 col-md-4 mx-5"><img
                        src="{{$resource.section_four.mobileapplications.mobileapplicationsimage4}}" />
                </div>

                </div>
                {{ end }}
                {{ if $resource.section_four.webapplications }}
                <h4 class="mb-6 mt-4 fw-semibold fw-semibold">{{$resource.section_four.webapplications.webapplicationsheading}}</h4>
                <div class="row mt-4">
                    <div class="col-lg-1 col-xl-1 col-xs-4 col-6 col-sm-4 mb-8 pl-10 mobile-text-center col-md-4 pe-15"><img
                        src="{{$resource.section_four.webapplications.webapplicationsimage1}}" />
                </div>
                <div class="col-lg-1 col-xl-1 col-xs-4  col-6 col-sm-4 mb-8 col-md-4 mx-5"><img
                        src="{{$resource.section_four.webapplications.webapplicationsimage2}}" />
                </div>
                <div class="col-lg-1 col-xl-1 col-6 col-xs-4 mb-8 mobile-text-center col-md-4 mx-5"><img
                        src="{{$resource.section_four.webapplications.webapplicationsimage3}}" />
                </div>
                </div>

                {{ end }}


            </div>
        </section>
        <section class="wrapper">
            <div class="container px-3 px-xl-14 px-lg-14 px-md-0">
                <div class="col-12">
                    <h4 class="mb-6 mt-xl-6 mt-lg-6 mt-md-6 mt-2">{{$resource.section_five.title}}</h4>


                    <div class="content">

                    <div class="row-container mb-4">
                      <img class="" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png"/>
                      <div class="points-project ms-3">{{$resource.section_five.point1}}</div>
      
                    </div>
                    {{ if $resource.section_five.point2 }}

                    <div class="row-container mb-4">
                      <img class="" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png"/>
                      <div class="points-project ms-3">{{$resource.section_five.point2}}</div>
      
                    </div>
                    {{ end }}

                    {{ if $resource.section_five.point3 }}

                    <div class="row-container mb-4">
                      <img class="" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png"/>
                      <div class="points-project ms-3">{{$resource.section_five.point3}}</div>
      
                    </div>
                    {{ end }}

                    {{ if $resource.section_five.point4 }}

                    <div class="row-container mb-4">
                      <img class="" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png"/>
                      <div class="points-project ms-3">{{$resource.section_five.point4}}</div>
      
                    </div>
                    {{ end }}

                    {{ if $resource.section_five.point5 }}

                    <div class="row-container mb-4">
                      <img class="" src="https://res.cloudinary.com/biggworks/image/upload/v1684838348/Group_11544_lwrsg0.png"/>
                      <div class="points-project ms-3">{{$resource.section_five.point5}}</div>
      
                    </div>
                    {{ end }}
                    <a href="#" class="read-more read-more-project">Read More <img class="ps-3" src="https://res.cloudinary.com/biggworks/image/upload/v1684996473/Vector_5_yl7o1f.png" alt=""/></a>

                    </div>

                    

                   
                </div>
            </div>


        </section>
        <section>
            <div class="container px-3 px-xl-14 px-lg-14 px-md-0">

                <div class="row gx-0">
                    <div class="col-md-6 col-lg-8 text-justify">
                        <h4 class="mb-md-2 mt-xl-8 mt-lg-8 mt-4">{{$resource.section_six.title}}</h4>

                        <p class="points-project paragraph_justify mb-8 pt-3">{{$resource.section_six.description}}</p>
                    </div>

                    <div class="col-5 col-md-1 col-xl-1"></div>
                    <div class="col-md-5 col-lg-3 col-12 col-xl-3 col-4 pt-2 pt-md-12">
                        <img class="mb-4 img-fluid text-center ps-13" src="{{$resource.section_six.image}}" alt="" />
                    </div>

                </div>


            </div>
        </section>


        <section class="wrapper bg-linear-gradient">
            <div class="container  px-3 px-xl-14 px-lg-14 px-md-00">
            
              
              
               <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <p class="project-unlock mt-8 mt-lg-12 mt-xl-12 mt-md-12 mt- mb-6">
                            {{$resource.section_seven.heading1}}</p>
                            <p class="lead fs-lg mb-8 paragraph_justify">{{$resource.section_seven.description1}}</p>
                        <button type="button"  href="#myModal1" data-bs-toggle="modal"
                            class="btn btn-primary btn-lg rounded-0">{{$resource.section_seven.btn_talk_to_us}}</button>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-lg-5 col-12 col-md-5">
                        <p class="project-lates mb-4 mt-13 paragraph_justify">{{$resource.section_seven.heading2}}</p>
                        <p class="project-stay mb-10">{{$resource.section_seven.description2}}</p>
                        <p class="project-lates mb-4">{{$resource.section_seven.heading3}}</p>
                        <p class="project-stay mb-10">{{$resource.section_seven.description3}}</p>
                        <p class="project-lates mb-4">{{$resource.section_seven.heading4}}</p>
                        <p class="project-stay mb-10 mb-xl-12 mb-lg-12 mb-md-12">{{$resource.section_seven.description4}}</p>
                    </div>

                </div>

            </div>
        </section>
        <section>

            <div class="container py-10 px-3 px-xl-14 px-lg-14 px-md-0">
                <div class="row gx-md-6 gy-3 gy-md-0">
                    <div class="col-md-6 col-lg-8 align-self-center text-center text-md-start navigation">
                        {{ if $resource.section_seven.prev_project}}
                        <a href="{{ $resource.section_seven.prev_link }}">
                            <button type="button"
                                class="btn btn-outline-primary rounded-0 mt-8 mb-8">{{$resource.section_seven.prev_project}}</button>
                        </a>
                        {{ end }}
                        {{ if $resource.section_seven.next_project}}
                        <a class="ps-4" href="{{ $resource.section_seven.next_link }}">
                            <button type="button"
                                class="btn btn-outline-primary rounded-0 mt-8 mb-8">{{$resource.section_seven.next_project}}</button>
                        </a>
                        {{ end }}
                    </div>
                    <aside class="col-md-3 col-lg-4 sidebar text-center text-md-end">

                        <button type="button"
                            class="btn btn-primary btn-lg rounded-0 mt-8 mb-8 ms-20">{{$resource.section_seven.btn_share}}</button>



                    </aside>

                </div>

            </div>


        </section>




    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

    <script>
    const firebaseConfig = {
    apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
    authDomain: "biggworks-dd979.firebaseapp.com",
    databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "biggworks-dd979",
    storageBucket: "biggworks-dd979.appspot.com",
    messagingSenderId: "160882722753",
    appId: "1:160882722753:web:f067b273803ff585359140",
    measurementId: "G-377HKGT4RW"
    };
    firebase.initializeApp(firebaseConfig);
    
    let candidateInfo = firebase.database().ref("candidate");
    
    var application=document.getElementById("application");
    
    function saveRecordtoDatabase() {
    console.log("saveRecordtoDatabase");
    event.preventDefault();
    let newCandidateInfo = candidateInfo.push();
    
    newCandidateInfo.set({
      name: document.getElementById('form_name').value,
      email: document.getElementById('form_email').value,
      phone: document.getElementById('form_phone').value,
      // position: document.getElementById('name').value
      surname: document.getElementById('form_lastname').value,
      message: document.getElementById('form_message').value
     
    });
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var readMoreLinks = document.querySelectorAll('.read-more');
        
            readMoreLinks.forEach(function(readMoreLink) {
              var rowContainers = readMoreLink.parentElement.querySelectorAll('.row-container');
              var hiddenContainers = Array.from(rowContainers).slice(3);
        
              hiddenContainers.forEach(function(container) {
                container.classList.add('hidden');
              });
        
              if (hiddenContainers.length > 0) {
                readMoreLink.style.display = 'block';
              }
        
              readMoreLink.addEventListener('click', function(e) {
                e.preventDefault();
                hiddenContainers.forEach(function(container) {
                  container.classList.remove('hidden');
                });
        
                readMoreLink.style.display = 'none';
              });
            });
          });
        </script>

    {{ partial "footer.html" . }} {{ partial "page-progress.html" . }}
</body>
{{ end }}