{{ define "main" }} {{ $nav := .Site.Data.nav.nav }} 
<!-- {{ $resource := getJSON
"http://bw-strapi:1337/index" }} -->

{{ $resource := getJSON "https://cms.biggworks.com/index" }}


<!-- <link
  rel="shortcut icon"
  href="https://res.cloudinary.com/biggworks/image/upload/v1666248096/favicon_xsthfp.ico"
/> -->

<!-- {{ printf "My data: %s"  $resource.section_two }} -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ with .Title }}{{ . }}: {{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta property="og:title" content="{{ with .Title }}{{ . }}: {{ end }}">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://res.cloudinary.com/biggworks/image/upload/v1697456694/index/hero_image_1_qxbshm.png" />
  <meta property="og:url" content="https://biggworks.com/" />
  <meta name="twitter:card" content="summary" />
  
  

</head>
<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      {{ partial "nav.html" . }}
      <!-- /.navbar -->
      
    </header>
    <section class="wrapper bg-white">
      <div
        class="d-flex align-items-center bg-overlay-400 img-fluid home_backgrownd_image"
      >
        <div class="container pb-22 pb-md-24_5 pb-xl-22_5">
          <div class="row mb-10">
            <div
              class="col-md-10 col-lg-10 col-xl-10 col-xxl-8 mx-auto mb-13"
              data-group="page-title"
            >
              <h2
                class="fs-16 fw-normal ls-3x text-uppercase mb-5 pt-14 text-center"
              >
                {{$resource.section_one.title}}
              </h2>
              <h1 class="display-1 mb-4 text-center">
                {{$resource.section_one.subtitle}}
              </h1>
              <p class="lead fs-lg px-xl-12 px-xxl-6 mb-7 text-center">
                {{$resource.section_one.description}}
              </p>

              <div
                class="d-flex justify-content-center"
                data-group="page-title-buttons"
                data-delay="600"
              >
                <span
                  ><a
                    href="#myModal1"
                    class="btn btn-primary rounded-0 mx-1"
                    data-bs-toggle="modal"
                    >{{$resource.section_one.btn_talk_to_us}}</a
                  ></span
                >
              </div>
              <div id="myModal1" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-fullscreen modal-lg">
                  <div class="modal-content">
                    <h4
                      class="modal-title text-center project-unlock pt-xl-10 pt-md-16 pt-13"
                    >
                      {{$resource.section_one.modal_title}}
                    </h4>
                    <p
                      type="button"
                      class="btn-custum"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                    <i class="bi bi-x-lg"></i>                    </p>
                    <div class="modal-body">
                      <!-- <section id="tabs" class="wrapper pt-0 pb-md-4">
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-lg-8 col-12">
                            <div class="form_card">
                              <div class="card-body">
                                <div class="tab-content">
                                  <form
                                    class="contact-form"
                                    method="post"
                                    id="indexForm"
                                    onsubmit="saveRecordtoDatabase()"
                                  >
                                    <div class="messages"></div>
                                    <div class="controls">
                                      <div class="row gx-4">
                                        <div class="col-md-6 col-xl-6 col-12">
                                          <label class="form-label"
                                            >First Name*</label
                                          >
                                          <div class="form-label-group mb-4">
                                            <input
                                              id="form_name"
                                              type="text"
                                              name="name"
                                              class="form-control"
                                              placeholder="Jane"
                                              required="required"
                                            />
                                            <label for="form_name"
                                              >{{$resource.section_one.fname}}</label
                                            >
                                            <div class="errormessage"
                                              id="form_name_error"
                                            ></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label"
                                            >Last Name*</label
                                          >
                                          <div class="form-label-group mb-4">
                                            <input
                                              id="form_lastname"
                                              type="text"
                                              name="surname"
                                              class="form-control"
                                              placeholder="Doe"
                                              required="required"
                                            />
                                            <label for="form_lastname"
                                              >{{$resource.section_one.lastname}}</label
                                            >
                                            <div class="errormessage"
                                            id="form_lastname_error"
                                            ></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label"
                                            >Email address*</label
                                          >
                                          <div class="form-label-group mb-4">
                                            <input
                                              id="form_email"
                                              type="email"
                                              name="email"
                                              class="form-control"
                                              placeholder="jane.doe@example.com"
                                              required="required"
                                            />
                                            <label for="form_email"
                                              >{{$resource.section_one.email}}</label
                                            >
                                            <div class="errormessage"
                                              id="form_email_error"
                                            ></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label"
                                            >Phone*</label
                                          >
                                          <div class="form-label-group mb-4">
                                            <input
                                              id="form_phone"
                                              type="tel"
                                              name="phone"
                                              class="form-control"
                                              placeholder="Your phone number"
                                              minlength="10"
                                              maxlength="10"
                                              oninput="validatePhoneNumber(this)"
                                            />
                                            <label for="form_phone"
                                              >{{$resource.section_one.phone}}</label
                                            >
                                            
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <label class="form-label"
                                            >Message</label
                                          >
                                          <div class="form-label-group mb-4">
                                            <textarea
                                              id="form_message"
                                              name="message"
                                              class="form-control"
                                              placeholder="Your message"
                                              rows="5"
                                            ></textarea>
                                            <label for="form_message"
                                              >{{$resource.section_one.message}}</label
                                            >
                                            <div
                                              class="help-block with-errors"
                                            ></div>
                                          </div>
                                        </div>

                                        <div class="col-1">
                                          <input
                                            type="submit"
                                            class="btn btn-primary button-widthincrease rounded-0 btn-send mb-3"
                                            value="Contact us"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section> -->
                      
                      {{partial "contact-form.html" .}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section>
      <div>
        <p class="font-in-check">
          There may be stored data affecting loading performance in this location: IndexedDB. Audit this page in an incognito window to prevent those resources from affecting your scores.
        </p>
        <h1>
          There may be stored data affecting loading performance in this location: IndexedDB. Audit this page in an incognito window to prevent those resources from affecting your scores.
        </h1>
      </div>
    </section> -->
    <section class="wrapper bg-white pb-8">
      <!-- <div class="container "> -->
        <h1 class="display-1 mb-4"></h1>
        <div class="slider">
          <div
            class="slide"
            data-loop="true"
            data-dots="false"
            data-autoplay="true"
          >
            <div class="item px-5">
              <img style="width: 73px; height: 48px;" class="grayscale_effect" src="{{$resource.image_carousel.havells}}" alt="Biggworks havells logo"  />
            </div>
            <div class="item px-5">
              <img style="width: 91px; height: 43px;" class="grayscale_effect" src="{{$resource.image_carousel.aritha}}" alt="Biggworks Aritha logo" />
            </div>
            <div class="item px-5">
              <img style="width: 112px; height: 39px;" class="grayscale_effect" src="{{$resource.image_carousel.ck1}}" alt="Biggworks Career kraft logo" />
            </div>
            <div class="item px-5">
              <img style="width: 97px; height: 33px;" class="grayscale_effect" src="{{$resource.image_carousel.interdid}}" alt="Biggworks Interdid logo" />
            </div>

            <div class="item px-5">
              <img style="width: 149px; height: 43px;" class="grayscale_effect" src="{{$resource.image_carousel.hold_it_write}}" alt="Biggworks Hold it write logo" />
            </div>
            <div class="item px-5">
              <img style="width: 119px; height: 47px;" class="grayscale_effect" src="{{$resource.image_carousel.flows}}" alt="Biggworks Flows logo" />
            </div>
            <div class="item px-5">
              <img style="width: 162px; height: 40px;" class="grayscale_effect" src="{{$resource.image_carousel.assured}}" alt="Biggworks Assured automation logo" />
            </div>
            <div class="item px-5">
              <img style="width: 99px; height: 32px;" class="grayscale_effect" src="{{$resource.image_carousel.xard}}" alt="Biggworks xard logo" />
            </div>
            <div class="item px-5">
              <img style="width: 121px; height: 32px;" class="grayscale_effect" src="{{$resource.image_carousel.banix}}" alt="biggworks Banix logo" />
            </div>
            <div class="item px-5">
              <img style="width: 99px; height: 33px;" class="grayscale_effect" src="{{$resource.image_carousel.hq}}" alt="biggworks Wireless temparature sensing" />
            </div>
            <div class="item px-5">
              <img style="width: 125px; height: 26px;" class="grayscale_effect" src="{{$resource.image_carousel.succor}}" alt="biggworks succerfish" />
            </div>
            <div class="item px-1">
              <img style="width: 268px; height: 35px;"
                class="col-xl-10 grayscale_effect"
                src="{{$resource.image_carousel.cognitive}}"
                alt="Biggworks cognitive"
              />
            </div>
            <div class="item px-5">
              <img style="width: 130px; height: 33px;" class="grayscale_effect"src="{{$resource.image_carousel.mediat}}" alt="Biggworks Mediat" />
            </div>
            <div class="item px-5">
              <img style="width: 163px; height: 36px;" class="grayscale_effect" src="{{$resource.image_carousel.kemsys}}" alt="Biggworks Kemsys" />
            </div>
            <div class="item px-5">
              <img style="width: 99px; height: 17px;" class="grayscale_effect" src="{{$resource.image_carousel.kalibre}}" alt="Biggworks kalibre" />
            </div>
            <div class="item px-5">
              <img style="width: 60px; height: 44px;" class="grayscale_effect" src="{{$resource.image_carousel.justghar}}" alt="Biggworks Justghar" />
            </div>
            <div class="item px-5">
              <img style="width: 107px; height: 22px;" class="grayscale_effect" src="{{$resource.image_carousel.sure}}" alt="Biggworks Sureprop" />
            </div>
           

            <div class="item px-5">
              <img style="width: 106px; height: 34px;" class="grayscale_effect" src="{{$resource.image_carousel.chirp}}" alt="Biggworks Chrip Sound" />
            </div>

            <div class="item px-5">
              <img style="width: 134px; height: 23px;" class="grayscale_effect" src="{{$resource.image_carousel.appadvice}}" alt="Biggworks AppAdvice logo" />
            </div>

            <div class="item px-5">
              <img style="width: 73px; height: 48px;" class="grayscale_effect" src="{{$resource.image_carousel.ismart}}" alt="Biggworks Ismart" />
            </div>

            <div class="item px-5">
              <img style="width: 73px; height: 48px;" class="grayscale_effect" src="{{$resource.image_carousel.sewj}}" alt="Biggworks sew logo" />
            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>
<!-- <section style="position: relative; display: flex; flex-wrap: wrap;">
  <div style="width: 200px; height: 200px; padding: 17px 15px; border-radius: 200px; border: 1px solid #fff; background: linear-gradient(223deg, rgba(234, 226, 255, 0.35) 3.09%, rgba(255, 255, 255, 0.35) 83.65%); box-shadow: 0px 4px 14px 0px #DCE3FF; position: relative;">
  <img class="over-image" src="https://res.cloudinary.com/biggworks/image/upload/v1696921486/Group_11558_gmmyuw.svg" alt=""/>
</div>

<div style="width: 200px; height: 200px; padding: 17px 15px; border-radius: 200px; border: 1px solid #fff; background: linear-gradient(223deg, rgba(234, 226, 255, 0.35) 3.09%, rgba(255, 255, 255, 0.35) 83.65%); box-shadow: 0px 4px 14px 0px #DCE3FF; position: relative;">
  <img class="over-image" src="https://res.cloudinary.com/biggworks/image/upload/v1696921486/Group_11558_gmmyuw.svg" alt=""/>
</div>
<div style="width: 200px; height: 200px; padding: 17px 15px; border-radius: 200px; border: 1px solid #fff; background: linear-gradient(223deg, rgba(234, 226, 255, 0.35) 3.09%, rgba(255, 255, 255, 0.35) 83.65%); box-shadow: 0px 4px 14px 0px #DCE3FF; position: relative;">
  <img class="over-image" src="https://res.cloudinary.com/biggworks/image/upload/v1696921486/Group_11558_gmmyuw.svg" alt=""/>
</div>
<div style="width: 200px; height: 200px; padding: 17px 15px; border-radius: 200px; border: 1px solid #fff; background: linear-gradient(223deg, rgba(234, 226, 255, 0.35) 3.09%, rgba(255, 255, 255, 0.35) 83.65%); box-shadow: 0px 4px 14px 0px #DCE3FF; position: relative;">
  <img class="over-image" src="https://res.cloudinary.com/biggworks/image/upload/v1696921486/Group_11558_gmmyuw.svg" alt=""/>
</div>
<div style="width: 200px; height: 200px; padding: 17px 15px; border-radius: 200px; border: 1px solid #fff; background: linear-gradient(223deg, rgba(234, 226, 255, 0.35) 3.09%, rgba(255, 255, 255, 0.35) 83.65%); box-shadow: 0px 4px 14px 0px #DCE3FF; position: relative;">
  <img class="over-image" src="https://res.cloudinary.com/biggworks/image/upload/v1696921486/Group_11558_gmmyuw.svg" alt=""/>
</div>
</section> -->
    <!-- <section class="wrapper bg-white">
        <div class="container py-8 pt-4 pt-md-4">
          <h2 class="fs-15 text-uppercase"></h2>
        
            <div class="slider">
             
          <div class="slide" data-loop="true"
          data-dots="false"
          data-autoplay="true">


         
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689742/havells_1_zpofp4.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689974/aritha_1_oaqs1z.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689751/CAREER_CRAFT_1_hs2wrn.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689768/interdit_1_njr1bf.jpg" alt="" />
            </div>
            <div class="item px-8">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689679/app_device_tjlmt8.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689785/hold_it_1_yum8ud.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689797/flows_1_y3vwrw.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689814/assured_automation_1_ay0dis.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689827/xard_pay_1_f0zdgp.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689840/banix_1_vaqgck.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689852/hqinc_1_fsquuh.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689944/succorfish_0_1_x5eyno.jpg" alt="" />
            </div>
            <div class="item px-1">
              <img class="col-xl-10" src="https://res.cloudinary.com/biggworks/image/upload/v1682689963/cognitive_clouds_1_zcchuo.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682690013/mediatek_1_n7cv2b.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682690024/kemsys_1_chqdp5.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689892/kalibre_1_bndzsa.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689709/justghar_1_mlwxvi.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689728/sureprop_1_ylep7w.jpg" alt="" />
            </div>
            <div class="item px-5">
              <div class="row">
              <img class="col-md-12" src="https://res.cloudinary.com/biggworks/image/upload/v1682689699/i_smart_tz4frv.jpg" alt="" />
            </div>
            </div>

            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689862/chirpsound_1_gxrghi.jpg" alt="" />
            </div>
            <div class="item px-5">
              <img src="https://res.cloudinary.com/biggworks/image/upload/v1682689690/sew_jzmwzr.jpg" alt="" />
            </div>



         
          
          </div>
        </div>
        </div>
      </section>
   -->
    <section class="wrapper bg-white">
      <div class="container">
        <div class="row gx-lg-8 gy-10 align-items-center">
          <div class="col-12 mx-auto text-center">
            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_two.Title}}
            </h2>
            <h1 class="display-1 mb-4">{{$resource.section_two.Subtitle}}</h1>
            <p class="lead fs-lg mb-12">
              {{$resource.section_two.Description}}
            </p>
          </div>
        </div>
        <span class="iconify-inline" data-icon="fa-solid:home"></span>
        <div class="row offset-1 gx-2 gy-8 mb-12">
          <div class="col-md-3 col-lg-3 col-xl-3 col-11">
            <div class="item col-md-12">
              <figure class="figure mb-7">
                <img
                  class="service-image img-fluid"
                  src="{{$resource.section_two.service1.imageSrc}}"
                  alt="{{$resource.section_two.service1.imageAlt}}"
                  width="100%" height="auto" loading="lazy"
                />
              </figure>
            </div>

            <h4 class="text-left mb-5">
              {{$resource.section_two.service1.title}}
            </h4>
            <p class="mb-0 lh-sm">
              <!-- New Product Development, Digital Transformation, Enterprise
                Modernization? <br />We are your Digital Factory. -->
              {{$resource.section_two.service1.description}}
            </p>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1"></div>
          <div class="col-md-3 col-lg-3 col-xl-3 col-11">
            <div class="item col-md-12">
              <figure class="figure mb-7">
                <img
                  class="service-image img-fluid"
                  src="{{$resource.section_two.service2.imageSrc}}"
                  alt="{{$resource.section_two.service2.imageAlt}}"
                  width="100%" height="auto" loading="lazy"
                />
              </figure>
            </div>
            <h4 class="text-left mb-5">
              {{$resource.section_two.service2.title}}
            </h4>
            <p class="mb-0 lh-sm">
              {{$resource.section_two.service2.description}}
            </p>
          </div>

          <div class="col-xl-1 col-md-1"></div>
          <div class="col-md-3 col-lg-3 col-11">
            <div class="item col-md-12">
              <figure class="figure mb-7">
                <img
                  class="service-image img-fluid"
                  src="{{$resource.section_two.service3.imageSrc}}"
                  alt="{{$resource.section_two.service3.imageAlt}}"
                  width="100%" height="auto" loading="lazy"
                />
              </figure>
            </div>
            <h4 class="text-left mb-xl-5 mb-md-10">
              {{$resource.section_two.service3.title}}
            </h4>
            <p class="mb-0 lh-sm">
              {{$resource.section_two.service3.description}}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper bg-white">
      <div class="container pb-14 pb-xl-12 pb-lg-14 pb-md-4">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div
            class="col-md-10 col-lg-10 col-xl-12 col-xxl-6 mx-auto text-center"
          >
            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_three.title}}
            </h2>
            <h1 class="display-1 mb-4">{{$resource.section_three.subtitle}}</h1>
          </div>
        </div>
        <div
          class="col-md-10 col-lg-10 col-xl-12 col-xxl-12 mx-auto text-center"
        >
          <p class="lead fs-lg mb-12">
            {{$resource.section_three.description}}
          </p>
        </div>
        <div class="row g-0 mb-4 mb-md-12 mb-xl-15 mb-lg-14">
          <div class="col-xl-1 pe-18"></div>
          <div class="col-md-5 col-lg-4 col-xl-4 mb-11 mb-xl-0 mb-md-0 mb-lg-0">
            <div class="about-image card">
              <div class="card-body">
                <h4 class="mb-4">
                  {{$resource.section_three.approach1.heading}}
                </h4>
                <p class="mb-2">
                  {{$resource.section_three.approach1.description}}
                </p>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach1.point1.bold}}</span
                  >
                  {{$resource.section_three.approach1.point1.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach1.point2.bold}}</span
                  >
                  {{$resource.section_three.approach1.point2.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach1.point3.bold}}</span
                  >
                  {{$resource.section_three.approach1.point3.not_bold}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-1 col-md-2"></div>

          <div class="col-md-5 col-lg-4 col-xl-4">
            <div class="about-image card">
              <div class="card-body">
                <h4 class="mb-4">
                  {{$resource.section_three.approach2.heading}}
                </h4>
                <p class="mb-2">
                  {{$resource.section_three.approach2.description}}
                </p>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach2.point1.bold}}</span
                  >
                  {{$resource.section_three.approach2.point1.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach2.point2.bold}}</span
                  >
                  {{$resource.section_three.approach2.point2.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach2.point3.bold}}</span
                  >
                  {{$resource.section_three.approach2.point3.not_bold}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0 gy-8 mb-4 mb-md-4">
          <div class="col-xl-1 pe-18"></div>
          <div class="col-md-5 col-lg-4">
            <div class="about-image card">
              <div class="card-body">
                <h4 class="mb-4">
                  {{$resource.section_three.approach3.heading}}
                </h4>
                <p class="mb-2">
                  {{$resource.section_three.approach3.description}}
                </p>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach3.point1.bold}}</span
                  >
                  {{$resource.section_three.approach3.point1.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach3.point2.bold}}</span
                  >
                  {{$resource.section_three.approach3.point2.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach3.point3.bold}}</span
                  >
                  {{$resource.section_three.approach3.point3.not_bold}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xl-1"></div>
          <div class="col-md-5 col-lg-4">
            <div class="about-image card">
              <div class="card-body">
                <h4 class="mb-4">
                  {{$resource.section_three.approach4.heading}}
                </h4>
                <p class="mb-2">
                  {{$resource.section_three.approach4.description}}
                </p>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach4.point1.bold}}</span
                  >
                  {{$resource.section_three.approach4.point1.not_bold}}
                </div>
                <div>
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach4.point2.bold}}</span
                  >
                  {{$resource.section_three.approach4.point2.not_bold}}
                </div>
                <div class="mb-md-6 mb-xl-0">
                  <span class="fw-semibold"
                    >{{$resource.section_three.approach4.point3.bold}}</span
                  >
                  {{$resource.section_three.approach4.point3.not_bold}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper bg-white">
      <div class="container">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center pb-10">
          <div class="col-lg-6 col-md-9 col-xl-5">
            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4 text-left">
              {{$resource.section_four.title}}
            </h2>
            <h1 class="display-1 mb-4 text-left">
              {{$resource.section_four.subtitle}}
            </h1>
            <p class="lead fs-lg mb-6 text-left">
              {{$resource.section_four.description}}
            </p>
            <div class="row gy-2 mb-6 mb-md-8">
              <div class="col-1">
                <!-- <img style="width: 29px; height: 29px;"
                  class=""
                  src="https://res.cloudinary.com/biggworks/image/upload/v1676615834/Group_178_sfyblj.png"
                /> -->
                
                <i class="bi bi-check why-choose-biggworks-icon"></i>
              
              </div>
              <div class="col-11">{{$resource.section_four.feature1}}</div>
              <div class="col-1">
                <!-- <img style="width: 29px; height: 29px;"
                  class=""
                  src="https://res.cloudinary.com/biggworks/image/upload/v1676615834/Group_178_sfyblj.png"
                /> -->
                <i class="bi bi-check why-choose-biggworks-icon"></i>

              </div>
              <div class="col-11">{{$resource.section_four.feature2}}</div>

              <div class="col-1">
                <!-- <img style="width: 29px; height: 29px;"
                  class=""
                  src="https://res.cloudinary.com/biggworks/image/upload/v1676615834/Group_178_sfyblj.png"
                /> -->
                <i class="bi bi-check why-choose-biggworks-icon"></i>

              </div>
              <div class="col-11">{{$resource.section_four.feature3}}</div>
            </div>
          </div>
          <div class="col-lg-7 col-xl-7 col-md-12 col-sm-5">
            <img
              class="why_choose_image w-auto img-fluid"
              src="{{$resource.section_four.image}}" alt="Why Choose Biggworks" loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper bg-linear-gradient">
      <div class="container pt-xl-6 pt-lg-6 pt-md-8 pt-10 pb-6">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <p class="service_ready mb-xl-6 mb-lg-6 mb-md-0 mb-6 pt-5">
              {{$resource.section_five.sub_title}}
            </p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-2"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12 ps-xl-16 ps-0">
            <div
              class="d-flex justify-content-center pt-2"
              data-group="page-title-buttons"
              data-delay="600"
            >
              <span
                ><a
                  href="#myModal1"
                  class="btn btn-primary rounded-0 mx-1"
                  data-bs-toggle="modal"
                  >{{$resource.section_five.btn_talk_to_us}}
                </a></span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

  <script>
    function validatePhoneNumber(input) {
      input.value = input.value.replace(/\D/g, ""); // Remove non-numeric characters

      if (input.value.length > 10) {
        input.value = input.value.slice(0, 10); // Truncate input to 10 digits
      }
    }
  </script>

  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
      authDomain: "biggworks-dd979.firebaseapp.com",
      databaseURL:
        "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "biggworks-dd979",
      storageBucket: "biggworks-dd979.appspot.com",
      messagingSenderId: "160882722753",
      appId: "1:160882722753:web:f067b273803ff585359140",
      measurementId: "G-377HKGT4RW",
    };
    firebase.initializeApp(firebaseConfig);

    let candidateInfo = firebase.database().ref("candidate");

    var application = document.getElementById("application");

    function saveRecordtoDatabase() {
      var firstName = document.getElementById("form_name").value;
      var lastName = document.getElementById("form_lastname").value;
      var email = document.getElementById("form_email").value;
      var phone = document.getElementById("form_phone").value;
      event.preventDefault();

      var errorContainer = document.querySelector(".messages");
      errorContainer.innerHTML = "";

      let form = document.getElementById("indexForm");

      if (firstName.trim() === "") {
        displayError("form_name", "First Name is required.");
      }

      if (lastName.trim() === "") {
        displayError("form_lastname", "Last Name is required.");
      }

      if (email.trim() === "") {
                displayError("form_email", "Email address is required.");
            } else if (!validateEmail(email)) {
                displayError("form_email", "Please enter a valid email address.");
            }

      // ... Perform validation for other fields
      
      if (
        firstName.trim() !== "" &&
        lastName.trim() !== "" &&
        validateEmail(email)
        ) {
          let newCandidateInfo = candidateInfo.push();
       

        newCandidateInfo.set({
          name: firstName,
          surname: lastName,
          email: email,
          phone: phone,
          message: document.getElementById("form_message").value,
        });
        console.log("reset the form", firstName);

        form.reset();

        // Reset the form after submission

        var successContainer = document.querySelector(".messages");
        successContainer.innerHTML =
          '<div class="alert alert-success">Record saved successfully!</div>';

        setTimeout(function () {
          successContainer.innerHTML = "";
        }, 3000);
      }
    }

    function handleFormFieldChange(e, fieldName) {
      var inputValue = e.value;

      if (inputValue.trim() !== "") {
        displayError(fieldName, "");
      }
    }

    function displayError(fieldId, errorMessage) {
      var errorContainer = document.getElementById(fieldId + "_error");
      errorContainer.innerHTML = errorMessage;
    }

    function validateEmail(email) {
            const pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return pattern.test(email);
        }
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
  ></script>

  {{ partial "footer.html" . }} {{ partial "page-progress.html" . }}
</body>
{{ end }}
