<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TZ97ZCM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="content">{{- block "main" . }} {{- end }}</div>

    {{ partial "scripts.html" .}}
    <!-- {{ partial "job-application-scripts.html" . }}  -->

    {{ partial "footer.html" . }} {{ partial "page-progress.html" . }}

  </body>
</html>

<style>
  .body{
    overflow-x: hidden;
  }
</style>