<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TZ97ZCM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="content">{{- block "main" . }} {{- end }}</div>

    {{- if not (or (eq .Type "iot-development") (eq .Type "mobile-apps") (eq .Type "web-apps") (eq .Type "staff-augmentation")) }} 
      {{ partial "footer.html" . }}
    {{- end }}

    <!-- {{ partial "job-application-scripts.html" . }}  -->
    {{ partial "page-progress.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>