{{ define "main" }} 
<!-- {{ $resource := getJSON "http://bw-strapi:1337/contact" }} -->
{{ $resource := getJSON "https://cms.biggworks.com/contact" }}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ with .Title }}{{ . }}: {{ end }}</title>
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1">
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<meta property="og:title" content="{{ with .Title }}{{ . }}: {{ end }}">
	<meta property="og:type" content="website" />
	
	<meta property="og:url" content="https://biggworks.com/contact/" />
	<meta name="twitter:card" content="summary" />
  </head>
<body>
  <div class="content-wrapper contact-page">
    <header class="wrapper">
      {{ partial "nav.html" . }}
    </header>

    <section class="wrapper">
        <div class="container pb-6 text-center">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-md-10 col-lg-12 col-xl-8 mx-auto text-center">
                  <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-5 pt-18">
                    {{$resource.section_one.title}}
                  </h2>
                  <h1 class="display-1 mb-4">
                    {{$resource.section_one.subtitle}}
                  </h1>
                  </div>
                  </div>
                  <div class="col-md-10 col-lg-10 col-xl-7 mx-auto text-center">
                   
      
                  <p class="lead fs-lg mb-9">
                    {{$resource.section_one.description}}
                  </p>
                </div>

              


            <!-- <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-5 mx-auto">
                    <h2 class="fs-16 fw-normal text-uppercase text-muted pt-8 mb-5">{{$resource.section_one.title}}</h2>
                <h3 class="display-4 mb-4">{{$resource.section_one.subtitle}}</h3>
                <p class="fs-lg px-lg-7 px-xl-7 px-xxl-6">{{$resource.section_one.description}}</p>
                </div>
            </div> -->
        </div>
    </section>
    <section class="wrapper bg-linear-gradient">
        <div class="container bp-22">
            <!-- <h4 class="pt-10 text-center mb-8">{{$resource.section_two.title}}</h4> -->
            <div class="row offset-xl-2 offset-md-0 offset-lg-2 offset-0">
                <div class="col-xl-9 col-md-12 col-lg-9 col-12">
                    <form class="contact-form" method="post" id="formContact" onsubmit="saveRecordtoDatabase()">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row gx-4">
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input
                                        id="form_name"
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        placeholder="Jane"
                                        required="required"
                                        onchange="handleFormFieldChange(this,'form_name')"
                                      />
                                        <label for="form_name">{{$resource.section_two.fname}}</label>
                                        <div class="errormessage"
                                        id="form_name_error"
                                      ></div>                        
                                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input
                          id="form_lastname"
                          type="text"
                          name="surname"
                          class="form-control"
                          placeholder="Doe"
                          required="required"
                          onchange="handleFormFieldChange(this,'form_lastname')"

                        />
                                        <label for="form_lastname">{{$resource.section_two.lastname}}</label>
                                        <div class="errormessage"
                        id="form_lastname_error"
                        ></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input
                                        id="form_email"
                                        type="email"
                                        name="email"
                                        class="form-control"
                                        placeholder="jane.doe@example.com"
                                        required="required"
                                        onchange="handleFormFieldChange(this,'form_email')"
              
                                      />
                                        <label for="form_email">{{$resource.section_two.email}}</label>
                                        <div class="errormessage"
                                        id="form_email_error"
                                      ></div>                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input
                          id="form_phone"
                          type="tel"
                          name="phone"
                          class="form-control"
                          placeholder="Your phone number"
                          minlength="10"
                          maxlength="10"
                          oninput="validatePhoneNumber(this)"
                        />
                                        <label for="form_phone">{{$resource.section_two.phone}}</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-label-group mb-4">
                                        <textarea
                                        id="form_message"
                                        name="message"
                                        class="form-control"
                                        placeholder="Your message"
                                        rows="5"
                                      ></textarea>
                                        <label for="form_message">{{$resource.section_two.message}}</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!-- <div class="col-1 col-xl-9 col-lg-9 col-md-6 pb-15"></div> -->
                                          <div class="col-2 mb-8">
                                            <input type="submit" class="btn btn-primary  rounded-0 btn-send mb-3"
                                              value="Send message">
                        
                                          </div>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
            </div>
    </section>

    
    <section>
        <div class="container pt-10">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-md-10 col-lg-12 col-xl-12 mx-auto text-center">
                  <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
                    {{$resource.section_three.title}}
                  </h2>
                  <h1 class="display-1 mb-4">
                    {{$resource.section_three.subtitle}}
                  </h1>
                  </div>
                  </div>
                  <div class="col-md-10 col-lg-10 col-xl-7 mx-auto text-center">
                   
      
                  <p class="lead fs-lg mb-9">
                    {{$resource.section_three.description}}
                  </p>
                </div>


            <div class="row gx-md-1 offset-1 gx-2 gy-8 ps-xl-12 ps-lg-12 ps-md-4 mb-10 mb-md-10">
                <div class="col-md-3 col-lg-3 col-xl-3 col-12">
                    <div class="col-lg-2 col-xs-4 col-6 col-sm-4 mb-8 pl-10 col-md-4"><img
                            src="{{$resource.section_three.location1.image}}" />
                    </div>
                    <h4 class="text-left mb-xl-5 mb-lg-5 mb-5 mb-md-10">{{$resource.section_three.location1.location}}</h4>
                    <p class="mb-0 lh-sm">
                        {{$resource.section_three.location1.address}}
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1"></div>
                <div class="col-md-3 col-lg-3 col-xl-3 col-12">
                    <div class="col-lg-2 col-xs-4 col-6 col-sm-4 mb-8 pl-10 col-md-4"><img
                            src="{{$resource.section_three.location2.image}}" />
                    </div>
                    <h4 class="text-left mb-5">{{$resource.section_three.location2.location}}</h4>
                    <p class="mb-0 lh-sm">
                        {{$resource.section_three.location2.address}}
                        
                    </p>
                </div>

                <div class="col-xl-1 col-md-1"></div>
                <div class="col-md-3 col-lg-3 col-12">
                    <div class="col-lg-2 col-xs-4 col-6 col-sm-4 mb-8 pl-10 col-md-4"><img
                            src="{{$resource.section_three.location3.image}}" />
                    </div>
                    <h4 class="text-left mb-5">{{$resource.section_three.location3.location}}</h4>
                    <p class="mb-0 lh-sm">
                        {{$resource.section_three.location3.address}}
                    </p>
                </div>
            </div>
        </div>

    </section>
<!-- <section>
    <h4 class="ps-6 ps-lg-22 pt-md-0 ps-xl-23_5">{{$resource.section_four.title}}</h4>
    <div class="row">
        <p class="col-12 col-lg-7 ps-lg-24 px-10">{{$resource.section_four.description}}</p>
        <h4 class="ps-10 ps-lg-19 pb-8 ps-lg-24">{{$resource.section_four.phone_number}}</h4>
    </div>

</section> -->



<section class="wrapper bg-linear-gradient">
    <div class="container">
        <div class="row mt-4 pt-8">
            <div class="col-xl-6 col-lg-5 col-md-5 col-12">
                
                <p class="service_ready mb-md-0 mb-6 pt-5">
                  {{$resource.section_five.title}}
                </p>
                          </div>
            <div class="col-xl-3 col-lg-1 col-md-1 col-1"></div>
            <div class="col-lg-2 col-xl-1 col-3 mb-8 col-md-2 ps-4 ps-xl-0">
                <a href="{{$resource.section_five.facebook_link}}" target="_blank">
                <img
                    src="{{$resource.section_five.facebook_image}}" />
                </a>
            </div>
            <div class="col-lg-2 col-xl-1 col-3 col-xs-4 col-md-2 ps-xl-0 ps-4">
                <a href="{{$resource.section_five.instagram_link}}" target="_blank">
                <img
                    src="{{$resource.section_five.instagram_image}}" />
                </a>
            </div>
            <div class="col-lg-2 col-xl-1 col-3 mb-8 col-md-2 ps-xl-0 ps-4">
                <a href="{{$resource.section_five.linkedin_link}}" target="_blank">
                <img
                    src="{{$resource.section_five.lonkedin_image}}" target="_blank"/>
                </a>
            </div>
        </div>
    </div>

    </section>

    

    <!-- <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-10 pt-md-14 text-center">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-5 mx-auto">
                    <h1 class="display-1 mb-3">{{ $resource.title}}</h1>
                    <p class="lead px-lg-7 px-xl-7 px-xxl-6">{{ $resource.content}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-light angled upper-end">
        <div class="container py-14 pb-md-16">
            <div class="row gy-10 gx-lg-8 gx-xl-12 mb-16 align-items-center">
                <div class="col-lg-5 position-relative">
                    <div class="shape bg-dot primary rellax w-18 h-18" data-rellax-speed="1" style="top: 0; left: -1.4rem; z-index: 0;"></div>
                    <div class="row gx-md-5 gy-5">
                        <div class="col-md-6">
                            <figure class="rounded mt-md-10 position-relative"><img src="https://res.cloudinary.com/biggworks/image/upload/v1666246895/g5_zqj3zd.jpg" srcset="https://res.cloudinary.com/biggworks/image/upload/v1666246896/g5_2x_jglyvm.jpg" alt=""></figure>
                        </div>
                        <div class="col-md-6">
                            <div class="row gx-md-5 gy-5">
                                <div class="col-md-12 order-md-2">
                                    <figure class="rounded"><img src="https://res.cloudinary.com/biggworks/image/upload/v1666246895/g6_owceeo.jpg" srcset="https://res.cloudinary.com/biggworks/image/upload/v1666246896/g6_2x_yjwnri.jpg" alt=""></figure>
                                </div>
                                <div class="col-md-10">
                                    <div class="card bg-pale-primary text-center counter-wrapper">
                                        <div class="card-body py-11">
                                            <h3 class="counter text-nowrap">100+</h3>
                                            <p class="mb-0">Satisfied Customers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h2 class="display-4 mb-8">Let's make something great together.</h2>
                    <form class="contact-form" method="post"id="formContact" onsubmit="saveContactInfo()">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row gx-4">
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Jane" required="required" data-error="First Name is required.">
                                        <label for="form_name">First Name *</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Doe" required="required" data-error="Last Name is required.">
                                        <label for="form_lastname">Last Name *</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="jane.doe@example.com" required="required" data-error="Valid email is required.">
                                        <label for="form_email">Email *</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group mb-4">
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Your phone number">
                                        <label for="form_phone">Phone</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-label-group mb-4">
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Your message" rows="5" required="required" data-error="Message is required."></textarea>
                                        <label for="form_message">Message *</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="Send message">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
</div>

<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
<!-- <script>
    const firebaseConfig = {
apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
authDomain: "biggworks-dd979.firebaseapp.com",
databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
projectId: "biggworks-dd979",
storageBucket: "biggworks-dd979.appspot.com",
messagingSenderId: "160882722753",
appId: "1:160882722753:web:f067b273803ff585359140",
measurementId: "G-377HKGT4RW"
};
firebase.initializeApp(firebaseConfig);
let contactInfo = firebase.database().ref("contact");

function saveContactInfo() {
    event.preventDefault();
    let newContactInfo = contactInfo.push();

    console.log("saveContactInfo",contactInfo);


    newContactInfo.set({
        name: document.getElementById('form_name').value,
        lastname: document.getElementById('form_lastname').value,
        email: document.getElementById('form_email').value,
        phone: document.getElementById('form_phone').value,
        message: document.getElementById('form_message').value
    });
    document.getElementById('formContact').reset();
    // sendEmailContact();


}
</script> -->

<script>
    function validatePhoneNumber(input) {
      input.value = input.value.replace(/\D/g, ""); // Remove non-numeric characters

      if (input.value.length > 10) {
        input.value = input.value.slice(0, 10); // Truncate input to 10 digits
      }
    }
  </script>

<script>
    const firebaseConfig = {
      apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
      authDomain: "biggworks-dd979.firebaseapp.com",
      databaseURL:
        "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "biggworks-dd979",
      storageBucket: "biggworks-dd979.appspot.com",
      messagingSenderId: "160882722753",
      appId: "1:160882722753:web:f067b273803ff585359140",
      measurementId: "G-377HKGT4RW",
    };
    firebase.initializeApp(firebaseConfig);

    let candidateInfo = firebase.database().ref("candidate");

    var application = document.getElementById("application");

    function saveRecordtoDatabase() {
      var firstName = document.getElementById("form_name").value;
      var lastName = document.getElementById("form_lastname").value;
      var email = document.getElementById("form_email").value;
      var phone = document.getElementById("form_phone").value;
      event.preventDefault();

      var errorContainer = document.querySelector(".messages");
      errorContainer.innerHTML = "";

      let form = document.getElementById("formContact");

      if (firstName.trim() === "") {
        displayError("form_name", "First Name is required.");
      }

      if (lastName.trim() === "") {
        displayError("form_lastname", "Last Name is required.");
      }

      if (email.trim() === "") {
                displayError("form_email", "Email address is required.");
            } else if (!validateEmail(email)) {
                displayError("form_email", "Please enter a valid email address.");
            }

      // ... Perform validation for other fields
      
      if (
        firstName.trim() !== "" &&
        lastName.trim() !== "" &&
        validateEmail(email)
        ) {
          let newCandidateInfo = candidateInfo.push();
       

        newCandidateInfo.set({
          name: firstName,
          surname: lastName,
          email: email,
          phone: phone,
          message: document.getElementById("form_message").value,
        });
        console.log("reset the form", firstName);

        form.reset();

        // Reset the form after submission

        var successContainer = document.querySelector(".messages");
        successContainer.innerHTML =
          '<div class="alert alert-success">Record saved successfully!</div>';

        setTimeout(function () {
          successContainer.innerHTML = "";
        }, 3000);
      }
    }

    function handleFormFieldChange(e, fieldName) {
      var inputValue = e.value;

      if (inputValue.trim() !== "") {
        displayError(fieldName, "");
      }
    }

    function displayError(fieldId, errorMessage) {
      var errorContainer = document.getElementById(fieldId + "_error");
      errorContainer.innerHTML = errorMessage;
    }

    function validateEmail(email) {
            const pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return pattern.test(email);
        }
  </script>
<script>
    function openModal(modalId) {
  var modal = document.getElementById(modalId);
  modal.style.display = "block";
}

function closeModal(modalId) {
  var modal = document.getElementById(modalId);
  modal.style.display = "none";
}

</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script> -->

  <!-- /.content-wrapper -->
  
  {{ partial "footer.html" . }} {{ partial "page-progress.html" . }}
</body>
{{ end }}
