{{ define "main" }}
<!-- {{ $resource := getJSON "http://bw-strapi:1337/iot-development" }} -->
{{ $resource := getJSON "https://cms.biggworks.com/iot-development" }}
<!-- {{ printf "My data: %s"  $resource}} -->


<body>
	<div class="content-wrapper">
		<header class="wrapper bg-gray">
			{{ partial "nav.html" . }}
			<!-- /.navbar -->
		</header>
		
		<section class="wrapper">
            <div class="container mt-xl-6 mt-0 mb-xxl-12 mb-xl-10 mb-md-8 mb-12">
				<div class="row">
                    <div class="col-xl-2 col-md-2 col-5 mt-xl-15 mt-md-15 mt-12">
                        <!-- <a href="/">
                <img class="img-fluid col-xl-4 col-lg-7 col-md-10 col-4" src="https://res.cloudinary.com/biggworks/image/upload/v1691837164/Group_1_2_gp5lya.png" alt=""/>
            </a> -->
            </div>
            </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-6 col-lg-6 mb-6">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4 pt-xxl-15 pt-8 service-text">
							{{$resource.section_one.title}}                        </h2>
                        <h1 class="display-1 mb-3 service-text">
							"{{$resource.section_one.subtitle}}"                        </h1>
                        <p class="lead fs-lg text-left mb-5 service-text">
                            "{{$resource.section_one.description}}"
                        </p>

                        <div class="d-flex service-text mb-4" data-group="page-title-buttons" data-delay="600">
                            <span><a href="#landingpage1Modal" class="btn btn-primary rounded-0"
                                data-bs-toggle="modal"> {{$resource.section_one.get_in_touch}}</a></span>
                          </div>


              

                    <!-- Modal -->


					<div class="modal fade" id="landingpage1Modal" >
											<div class="modal-dialog modal-fullscreen modal-lg">
						  <div class="modal-content">
							<!-- <div class="modal-header"> -->
								<p type="button" class="btn-custum" data-bs-dismiss="modal" aria-label="Close">                    
									<span class="iconify-inline" data-icon="la:times" style="font-size: 28px;"></span>
								</p>
							<h4 class="modal-title  text-center project-unlock pt-xl-15 pt-md-16 pt-13">{{$resource.section_one.modal.heading}}
							</h4>
							<!-- </div> -->
							<div class="modal-body">
								{{partial "landingpage-form.html" .}}

		
		
							</div>
		
						  </div>
						</div>
					  </div>



























                    <!-- <div class="modal fade" id="landingpage1Modal" aria-labelledby="landingpage1ModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="pt-3 px-4" id="landingpage1ModalLabel">{{$resource.section_one.modal.heading}}
                                </h4>
								<p type="button" class="btn-custum" data-bs-dismiss="modal" aria-label="Close"><i class="uil uil-times" id="timesIcon"></i></p>

                            </div>
                            <div class="modal-body-landingpage align-items-center">

                                <form id="sub-form" class="gform"
                                    action="https://script.google.com/macros/s/AKfycbwSUFF8rUFXktl1jBANVMG6wQuBW5bFNIg_HXh1/exec"
                                    method="POST">
                                    <div class="form-group mb-4">

                                        <h6 class="mb-3 ">{{$resource.section_one.modal.fullname}}<span class="text-danger">*</span></h6>
                                        <input class="form-control lb-lg" type="text" placeholder="Your name"
                                            name="name" required="required" data-error="First Name is required."/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.emailid}}<span class="text-danger">*</span></h6>
                                        <input class="form-control" type="email"
                                            placeholder="Your e-mail address" name="email" value="" required="required" data-error="Email is required" />
                                    </div>
                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.phone_number}} <span class="text-danger">*</span></h6>
                                        <input class="form-control" type="text" placeholder="Your Phone Number"
                                            name="company" value="" required="required" data-error="Phone number is required"/>
                                    </div>


                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.budget.heading}}</h6>
                                        <div class="form-select-wrapper ">
                                            <select class="form-select" aria-label="Default select example">
												<option class="text-muted" value="select-budget" selected>{{$resource.section_one.modal.budget.heading}}</option>

                                                <option value="$10-30k">{{$resource.section_one.modal.budget.budget1}}</option>
                                                <option value="$30-60k">{{$resource.section_one.modal.budget.budget2}}</option>
                                                <option value="$60-100k">{{$resource.section_one.modal.budget.budget3}}</option>
                                                <option value="$100k+">{{$resource.section_one.modal.budget.budget4}}</option>
                                            </select>
                                        </div>


                                    </div>
                                  



        

                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.budget.request}}</h6>
                                        <textarea class="form-control expandable"
                                            placeholder="Please describe your project"
                                            name="project_description" rows="5"></textarea>
                                    </div>
									<input type="submit" class="btn btn-primary rounded-0 btn-send mb-3"
									value="Send">
                                   
                                </form>
                                
                            </div>

                        </div>
                    </div>
                </div> -->


                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 pt-md-10 pt-xxl-0 pt-lg-6 pt-xl-2">
                        <img class="col-12 col-xl-12 col-lg-12 col-md-12 img-fluid"
                            src="{{$resource.section_one.img}}"
                            alt="" />
                    </div>
                </div>

            </div>
        </section>

		
		<!-- <section class="wrapper">
<div class="container">
	<div class="row align-items-center">
	<h3 class="display-4 mb-4 text-center">Get digital solutions for all business stages</h3>
						<p class="lead fs-lg mb-12 text-">
							We will assist you in defining and designing your smart product, and aim to
							launch an MVP or first version with key features within a period of 3 to 6 months.
						</p>
					</div>
</div>
</section> -->



		<section class="wrapper">
			<div class="container pt-xl-6 pt-md-0">

				<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
					<div class="col-md-10 col-lg-12 col-xl-8 mx-auto text-center">
						<h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">

							{{$resource.section_two.title}} </h2>
						<h1 class="display-1 mb-4">
							{{$resource.section_two.subtitle}} </h1>
					</div>
				</div>
				<div class="col-md-10 col-lg-10 col-xl-9 mx-auto text-center">


					<p class="lead fs-lg mb-12">
						{{$resource.section_two.description}} </p>
				</div>



				<div class="row">
					<div class="col-xl-1 col-md-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img class="" src="{{$resource.section_two.row1.img1}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4 class="pe-md-8">{{$resource.section_two.row1.heading1}}</h4>
							<p class="mb-10">{{$resource.section_two.row1.description1}}</p>

					</div>
					<div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img src="{{$resource.section_two.row1.img2}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4>{{$resource.section_two.row1.heading2}}</h4>
						<p class="mb-10">{{$resource.section_two.row1.description2}}</p>
					</div>


				</div>


				<div class="row">
					<!-- <div class="col-xl-1 col-lg-1 col-md-1 col-0"></div> -->
					<div class="col-xl-1 col-md-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img src="{{$resource.section_two.row2.img1}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4 class="pe-md-8">{{$resource.section_two.row2.heading1}}</h4>
						<p class="mb-10">{{$resource.section_two.row2.description1}}</p>
					</div>
					<!-- <div class="col-md-1"></div> -->
					<div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img src="{{$resource.section_two.row2.img2}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4>{{$resource.section_two.row2.heading2}}</h4>
						<p class="mb-10">{{$resource.section_two.row2.description2}}</p>
					</div>


				</div>


				<div class="row">
					<!-- <div class="col-xl-1 col-lg-1 col-md-1 col-0"></div> -->
					<div class="col-xl-1 col-md-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img src="{{$resource.section_two.row3.img1}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4 class="pe-md-8">{{$resource.section_two.row3.heading1}}</h4>
						<p class="mb-10">{{$resource.section_two.row3.description1}}</p>
					</div>
					<!-- <div class="col-md-1"></div> -->
					<div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-7 ps-lg-4">
						<img src="{{$resource.section_two.row3.img2}}"
							alt="" />
					</div>
					<div class="col-10 col-xl-5 col-lg-5 col-md-5">
						<h4>{{$resource.section_two.row3.heading2}}</h4>
						<p class="mb-4">{{$resource.section_two.row3.description2}}</p>
					</div>


				</div>



				<div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
					<span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
							data-bs-target="#landingpage1Modal">{{$resource.section_two.get_in_touch}}</a></span>
				</div>
			</div>

		</section>


		<section class="wrapper">
			<div class="container mb-6 pt-6">
				<div class="row mt-9">
					<div class="col-12 col-xl-5 col-lg-5 col-md-12">
						<!-- <h3 class="mb-4">{{$resource.section_three.heading1}}</h3>

						<div class="row gy-2 mb-10 mb-xl-8 mb-lg-6 mb-md-8">
							<div class="col-1">
								<img class=""
									src="{{$resource.section_three.img1}}" />
							</div>
							<div class="col-11">{{$resource.section_three.point1}}</div>
							<div class="col-1"><img class=""
									src="{{$resource.section_three.img1}}" />
							</div>
							<div class="col-11">{{$resource.section_three.point2}}</div>

							<div class="col-1"><img class=""
									src="{{$resource.section_three.img1}}" />
							</div>
							<div class="col-11">{{$resource.section_three.point3}}</div>

							<div class="col-1"><img class=""
									src="{{$resource.section_three.img1}}" />
							</div>
							<div class="col-11">{{$resource.section_three.point4}}</div>

							<div class="col-1"><img class=""
									src="{{$resource.section_three.img1}}" />
							</div>
							<div class="col-11">{{$resource.section_three.point5}}</div>

						</div> -->

						<!-- <ul class="icon-list bullet-bg bullet-soft-primary">
							<li><i class="uil uil-check"></i>Access to All Features (Geo-Targeting,
								Video Popups, A/B Testing, Gamification)</li>
							<li><i class="uil uil-check"></i>Unlimited Number of Campaigns</li>
							<li><i class="uil uil-check"></i>Unlimited Number of Domains</li>
							<li><i class="uil uil-check"></i>Dedicated Success Manager</li>
							<li class="mb-10"><i class="uil uil-check"></i>One Custom-Made Campaign Made By One
								of Our Conversion Experts</li>

						</ul> -->
						<h3 class="mb-4 pt-xl-18 pt-lg-21">{{$resource.section_three.heading2}}</h3>
						<div class="col-md-3"></div>
						<div class="col-xl-12 col-lg-12 col-12 col-md-12">
							<img class="col-12 col-lg-11 col-xl-11 col-md-12 text-center mb-12"
								src="{{$resource.section_three.img2}}"
								alt="" />
						</div>
					</div>
					<div class="col-0 col-xl-1 col-lg-1 col-md-0"></div>
					<div class="col-12 col-xl-6 col-lg-6 col-md-12">
						<div class="about-image card">
							<div class="card-body-landingpage card-body">
								<p class="mb-6 project-unlock">{{$resource.section_three.card.heading}}</p>
								<div class="row mb-4">
									<div class="col-1 col-md-1 pe-md-7">
										<img src="{{$resource.section_three.card.row1.img}}"
											alt="" />
									</div>
									<div class="col-10 col-xl-10 col-lg-10 col-md-10">
										<p class="project-lates ps-6 ps-xl-4 ps-lg-4 ps-md-4">{{$resource.section_three.card.row1.heading}}</p>
										<p class="ps-6 ps-xl-4 ps-lg-4 ps-md-4 mb-4">{{$resource.section_three.card.row1.sub_heading}}</p>
											
											
									</div>
								</div>
								<div class="row mb-4">
									<div class="col-1 col-md-1 pe-md-7">
										<img src="{{$resource.section_three.card.row2.img}}"
											alt="" />
									</div>
									<div class="col-10 col-xl-10 col-lg-10 col-md-10">
										<p class="project-lates ps-6 ps-xl-4 ps-lg-4 ps-md-4">{{$resource.section_three.card.row2.heading}}</p>
										<p class="ps-6 ps-xl-4 ps-lg-4 ps-md-4 mb-4">{{$resource.section_three.card.row2.sub_heading}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-1 col-md-1 pe-md-7">
										<img src="{{$resource.section_three.card.row3.img}}"
											alt="" />
									</div>
									<div class="col-10 col-xl-10 col-lg-10 col-md-10">
										<p class="project-lates ps-6 ps-xl-4 ps-lg-4 ps-md-4">{{$resource.section_three.card.row3.heading}}
										</p>
										<p class="ps-6 ps-xl-4 ps-lg-4 ps-md-4 mb-1">{{$resource.section_three.card.row3.sub_heading}}</p>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

		<section class="wrapper bg-linear-gradient">
			<div class="container mt-10 pb-4 text-center">


				<h4 class="mb-4 pt-12">{{$resource.section_four.title}}</h4>
				<p class="lead fs-lg mb-6">
					{{$resource.section_four.description}}
				</p>
				<div class="d-flex justify-content-center pb-6" data-group="page-title-buttons" data-delay="600">
					<span><a class="btn btn-primary rounded-0" data-bs-toggle="modal"
							data-bs-target="#landingpage1Modal">{{$resource.section_four.btn_contact}}</a></span>
				</div>
			</div>
		</section>
		<!-- <section class="wrapper">
			<div class="container pt-8">
				<div class="row gy-10">
					<div class="col-12 col-xl-7 col-lg-6 col-md-6">
						<p class="project-unlock mb-6">{{$resource.section_five.title}}</p>
						<div class="landingpage-card-client-says card mb-6">
							<div class="card-body-clients">
								<p class="lead fs-lg mb-2 px-4">
									{{$resource.section_five.description}}
									
								</p>

							</div>
						</div>
					</div>
					<div class="col-1 col-xl-1 col-lg-1 col-md-0"></div>
					<div class="col-10 col-md-5 col-xl-4 col-lg-5 text-right pt-xl-13 pt-md-16 pt-lg-8 pt-4">
						<img class="col-12 col-md-12 landingpage-image img-fluid"
							src="{{$resource.section_five.img}}"
							alt="" />
					</div>
				</div>
				<div class="row">
					
					<div class="col-12 col-md-10 col-xl-6 col-lg-6 pt-xl-0 pt-md-0 pt-10">

						<div class="item pb-8">
							<div class="background-blockquote">
								<h3 class=""><img class="pe-xl-3 pe-0"
										src="{{$resource.section_five.row.img}}"
										alt="" /> <span>{{$resource.section_five.row.software}}</span></h3>
								<p class="ps-xl-11_5 ps-10 ps-md-10">{{$resource.section_five.row.place}}</p>
							</div>
							<div class="blockquote-details ps-20">

							</div>
						</div>

					</div>
				</div>
				<div class="d-flex" data-group="page-title-buttons" data-delay="600">
					<span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
							data-bs-target="#landingpage1Modal">{{$resource.section_five.row.btn_discover}}</a></span>
				</div>



			</div>
		</section> -->

		<section class="wrapper bg-linear-gradient">
            <div class="container text-center mt-8 pb-8">
                <p class="project-unlock mb-2 pt-8"> {{$resource.section_six.title}}</p>
                <p class="lead fs-lg mb-6">
                    {{$resource.section_six.sub_title}}
                </p>
                <div class="col-12">
                    <img class="img-fluid"
                        src=" {{$resource.section_six.img}}"
                        alt="" />
                </div>
               


            </div>
        </section>

		<!-- <section class="wrapper bg-linear-gradient">
			<div class="container pb-3 mt-6 text-center">
				<div class="row">
					<p class="text-center project-unlock mb-0 mt-8 mx-auto">{{$resource.section_six.title}}</p>
					<ul class="nav nav-tab-tabs nav-tab-pills text-center">
						<li class="nav-item"> <a class="nav-tab-link active pt-6 pb-0 ps-xl-22 pe-xl-15 ps-md-13"
								data-bs-toggle="tab" href="#tab1-1"><span>
									<p class="lead fs-lg">{{$resource.section_six.tab1.protocols}}<br> {{$resource.section_six.tab1.connectivity}}</p>
								</span></a> </li>
						<li class="nav-item"> <a class="nav-tab-link pt-6 pb-0 pe-xl-14" data-bs-toggle="tab"
								href="#tab1-2"></i><span>
									<p class="lead fs-lg">{{$resource.section_six.tab2.hardware}}</p>
								</span></a> </li>
						<li class="nav-item"> <a class="nav-tab-link pt-6 pb-0" data-bs-toggle="tab"
								href="#tab1-3"><span>
									<p class="lead fs-lg">{{$resource.section_six.tab3.IoT}}<br>{{$resource.section_six.tab3.programming}}</p>
								</span></a> </li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab1-1">
							<img class="px-xl-20 px-lg-22 px-md-0 col-xl-12 col-md-12 col-12"
								src="{{$resource.section_six.tab1.img}}"
								alt="" />
						</div>
						<div class="tab-pane fade pb-xl-19 pt-xl-16 pb-12 pt-8" id="tab1-2">
							<img class="text-center  px-xl-20 col-xl-12 col-md-12 col-12"
								src="{{$resource.section_six.tab2.img}}"
								alt="" />
						</div>
						<div class="tab-pane fade pb-xl-19 pt-xl-14 pb-12 pt-8" id="tab1-3">
							<img class="text-center px-xl-22 px-md-12 col-xl-12 col-md-12 col-12"
								src="{{$resource.section_six.tab3.img}}"
								alt="" />
						</div>
					</div>
				</div>

			</div>
		</section> -->
		<section class="wrapper">
			<div class="container mb-10 pt-10">
				<div class="row align-items-center">
					<div class="col-xl-12 col-md-12 mx-auto text-center">
						<h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
							{{$resource.section_seven.title}}</h2>
						<h1 class="display-1">
							{{$resource.section_seven.sub_title}}
						</h1>
					</div>
					<div class="col-xl-8 col-md-12 mx-auto text-center">

						<p class="lead fs-lg mb-8">
							{{$resource.section_seven.description}}
						</p>
					</div>
				</div>
				<div class="row mb-xl-4">
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row1.img1}}"
							alt="" />

					</div>
					<div class="col-7 col-xl-3 col-lg-3 col-md-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row1.point1}}</p>
					</div>
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row1.img2}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-lg-3 col-md-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row1.point2}}</p>
					</div>
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row1.img3}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row1.point3}}</p>
					</div>
				</div>
				<div class="row mb-xl-4">
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row2.img1}}"
							alt="" />

					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row2.point1}}</p>
					</div>
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row2.img2}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row2.point2}}</p>
					</div>
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row2.img3}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-lg-3 col-md-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row2.point3}}</p>
					</div>
				</div>
				<div class="row mb-xl-0">
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row3.img1}}"
							alt="" />

					</div>
					<div class="col-7 col-xl-3 col-lg-3 col-md-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row3.point1}}</p>
					</div>
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row3.img2}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row3.point2}}</p>
					</div>
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 col-md-1 ps-xl-8 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row3.img3}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row3.point3}}</p>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 ps-xl-8  ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row4.img1}}"
							alt="" />

					</div>
					<div class="col-7 col-md-3 col-xl-3 col-lg-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row4.point1}} </p>
					</div>
					<div class="col-3 col-xl-1 col-md-1 col-lg-1 ps-xl-7 ps-lg-4 ps-md-0">
						<img src="{{$resource.section_seven.row4.img2}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-lg-3 col-md-3">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row4.point2}}</p>
					</div>
					<div class="col-3 col-xl-1 col-lg-1 col-md-1 ps-md-0 ps-lg-4 ps-xl-8 text-center">
						<img src="{{$resource.section_seven.row4.img3}}"
							alt="" />
					</div>
					<div class="col-7 col-xl-3 col-md-3 col-lg-3 mb-4">
						<p class="mt-4 landingpage_end_to_end">{{$resource.section_seven.row4.point3}}</p>
					</div>
				</div>

				<div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
					<span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
							data-bs-target="#landingpage1Modal">{{$resource.section_seven.btn_start}}</a></span>
				</div>
			</div>
		</section>








		<section class="wrapper bg-linear-gradient">
			<div class="container pb-10 text-center">
				

						<h4 class="mb-4 pt-6">
							{{$resource.section_eight.title}}
						</h4>
						<p class="lead fs-lg mb-6">
							{{$resource.section_eight.description}}
						</p>
						<div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
							<span><a class="btn btn-primary rounded-0" data-bs-toggle="modal"
									data-bs-target="#landingpage1Modal">{{$resource.section_eight.btn_get_in_touch}}</a></span>
						</div>
					
			</div>
		</section>

		<!-- <section class="wrapper  careers-background">
			<div class="container pt-xl-6 pt-lg-6 pt-md-8 pt-10 pb-6">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6">
						
          <p class="service_ready mb-xl-6 mb-lg-6 mb-md-0 mb-6 pt-5">
			{{$resource.section_five.title}}
		  </p>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-2 col-1"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 ps-16">
						<div class="d-flex justify-content-center pt-2" data-group="page-title-buttons" data-delay="600">
							<span><a href="" class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal">{{$resource.section_five.btn_view}}
                </a></span
              >
            </div>
          </div>
        </div>
      </div>
    </section> -->
		<!-- </div>

	</div>
	</div> -->
	</div>
	</div>

	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

	<!-- <script>
		const firebaseConfig = {
			apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
			authDomain: "biggworks-dd979.firebaseapp.com",
			databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
			projectId: "biggworks-dd979",
			storageBucket: "biggworks-dd979.appspot.com",
			messagingSenderId: "160882722753",
			appId: "1:160882722753:web:f067b273803ff585359140",
			measurementId: "G-377HKGT4RW"
		};
		firebase.initializeApp(firebaseConfig);

		let candidateInfo = firebase.database().ref("candidate");

		var application = document.getElementById("application");

		function saveRecordtoDatabase() {
    // Get form values
	event.preventDefault();

    var name = document.getElementById('form-name')?.value;
    var email = document.getElementById('form_email').value;
    var phone = document.getElementById('form_phone').value;
    var budget = document.getElementById('dropdown_budget').value;
    var description = document.getElementById('form_message').value;

	let form = document.getElementById('landingpage1Form')

    // Validate required fields
    if (!name || !email || !phone) {
      alert("Please fill in all required fields.");
      return false; // Prevent form submission
    }

    // Create a new record in Firebase
	var newRecordRef = candidateInfo.child('records').push();
    newRecordRef.set({
      name: name,
      email: email,
      phone: phone,
      budget: budget,
      description: description
    });

    // Clear the form after successful submission
    // document.getElementById('landingpage1Form').reset();
    form.reset();

    return true; // Allow form submission
  }
	</script> -->
	<!-- <script>
		function validatePhoneNumber(input) {
		 input.value = input.value.replace(/\D/g, ""); // Remove non-numeric characters
	 
		 if (input.value.length > 10) {
		   input.value = input.value.slice(0, 10); // Truncate input to 10 digits
		 }
	   }
	   </script> -->
	
		
<script>
	document.addEventListener("DOMContentLoaded", function() {
  var closeButton = document.getElementById("redCloseButton");
  var modal = document.getElementById("landingpage1Modal");

  closeButton.addEventListener("click", function() {
  console.log("Close button clicked");
  modal.style.display = "none";
});
});


</script>
	
</body>
{{ end }}