{{ define "main" }}
{{ $resource := getJSON "http://bw-strapi:1337/landingpage2" }}
<!-- {{ printf "My data: %s"  $resource}} -->

<body>
    <div class="content-wrapper">
        <header class="wrapper bg-gray">
            <!-- /.navbar -->
            
        </header>
        <!-- /header -->



        <section class="wrapper">
            <div class="container mt-xl-8 mt-0 mb-xl-12 mb-md-8 mb-12">

                <div class="row">
                    <div class="col-12 col-md-6 col-xl-6 col-lg-6 mb-6">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-5 pt-xl-15 pt-8 service-text">
                            {{$resource.section_one.title}}
                        </h2>
                        <h1 class="display-1 mb-4 service-text">
                            {{$resource.section_one.subtitle}}
                        </h1>
                        <p class="lead fs-lg text-left mb-7 service-text">
                            {{$resource.section_one.description}}
                        </p>

                        <div class="d-flex service-text mb-4" data-group="page-title-buttons" data-delay="600">
                            <span><a href="#exampleModal" class="btn btn-primary rounded-0"
                                data-bs-toggle="modal">{{$resource.section_one.get_in_touch}}</a></span>
                          </div>


              

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="pt-3 px-4" id="exampleModalLabel">{{$resource.section_one.modal.heading}}
                                </h4>
                                <p type="button" class="btn-custum" data-bs-dismiss="modal"><i class="uil uil-times"></i></p>

                            </div>
                            <div class="modal-body-landingpage align-items-center">

                                <form id="sub-form" class="gform"
                                    action="https://script.google.com/macros/s/AKfycbwSUFF8rUFXktl1jBANVMG6wQuBW5bFNIg_HXh1/exec"
                                    method="POST">
                                    <div class="form-group mb-4">

                                        <h6 class="mb-3 ">{{$resource.section_one.modal.fullname}} <span class="text-danger">*</span></h6>
                                        <input class="form-control lb-lg" type="text" placeholder="Your name"
                                            name="name" value="" required="required" data-error="First Name is required." />
                                    </div>
                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.emailid}} <span class="text-danger">*</span></h6>
                                        <input class="form-control" type="email"
                                            placeholder="Your e-mail address" name="email" value="" required="required" data-error="Email is required" />
                                    </div>
                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">{{$resource.section_one.modal.phone_number}} <span class="text-danger">*</span></h6>
                                        <input class="form-control" type="text" placeholder="Your Phone Number"
                                            name="company" value="" required="required" data-error="Phone number is required"/>
                                    </div>


                                    <div class="form-group mb-4">
                                        <h6 class="mb-0">What Roles Are You Hiring</h6>
                                        <p>(You can select more than one)</p>
                                        <div class="form-select-wrapper ">


                                            <select name="countries" id="countries" multiple>

                                                <option class="text-muted" hidden disabled>Select The Roles You Are
                                                    Hiring
                                                </option>
                                                <option value="frontend engineers">Front End Engineers</option>
                                                <option value="Back end engineers">Back end engineers</option>
                                                <option value="Mobile application Developers">Mobile application
                                                    Developers</option>
                                                <option value="Embedded engineers">Embedded engineers</option>
                                                <option value="UI/UX Designer">UI/UX Designer</option>
                                                <option value="DevOps Developer">DevOps Developer</option>
                                                <option value="Data scientist developer">Data scientist
                                                    developer</option>
                                                <option value="Automation engineer">Automation engineer</option>
                                                <option value="Full Stack Developer">Full Stack Developer
                                                </option>
                                            </select>


                                        </div>



                                    </div>
                                  

                                    <div class="form-group mb-4">
                                        <h6 class="mb-3">Share Your Hiring Needs</h6>
                                        <textarea class="form-control expandable"
                                            placeholder="Tell Us About Your Hiring Needs"
                                            name="project_description" rows="5"></textarea>
                                    </div>



                                    <input type="submit" class="btn btn-primary rounded-0 btn-send mb-3"
									value="Send">
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
                    </div>
                    <!-- <div class="col-xl-1"></div> -->
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 pt-md-14 pt-xl-0">
                        <img class="col-12 col-xl-12 col-lg-12 col-md-12 img-fluid"
                            src="{{$resource.section_one.img}}"
                            alt="" />
                    </div>
                </div>

            </div>
        </section>

      

        <section class="wrapper">
            <div class="container">
                <!-- <div class="row">
                        <div class="col-md-10 col-lg-8 col-xl-12 col-xxl-6 text-center"> -->

                <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                    <div class="col-md-10 col-lg-10 col-xl-8 mx-auto text-center">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
                            {{$resource.section_two.title}}
                        </h2>
                        <h1 class="display-1 mb-4">
                            {{$resource.section_two.subtitle}}
                        </h1>
                    </div>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto text-center">

                    <p class="lead fs-lg mb-12">
                        {{$resource.section_two.description}}
                    </p>
                </div>



                <div class="row mb-xl-8 mb-1">
                    <div class="col-1"><img class="ps-xl-11 ps-md-4 ps-0"
                            src="{{$resource.section_two.row1.img1}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row1.heading1}}</h4>
                        <p>{{$resource.section_two.row1.description1}}</p>
                    </div>

                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row1.img2}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-11 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row1.heading2}}</h4>
                        <p>{{$resource.section_two.row1.description2}}</p>
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Choose from a large network of experienced and qualified
                        talents
                        curated after an extensive vetting process.</p>
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Start interviewing within 48 hours of sharing your requirements
                        and onboard the top talent in just 2 weeks.</p>

                </div> -->

                <div class="row mb-xl-8 mb-1">
                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row2.img1}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row2.heading1}}</h4>
                        <p class="">{{$resource.section_two.row2.description1}}</p>
                    </div>

                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row2.img2}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4> {{$resource.section_two.row2.heading2}}</h4>
                        <p class="">{{$resource.section_two.row2.description2}}</p>
    
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Our Talent Network consists of India s top 3.5% pre-vetted
                        professionals who have the knowledge and experience you are
                        looking for.</p>
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Our talents work in your timezone or at least with 4 hours of
                        overlap
                        to ensure that the deliverables are always on time.</p>

                </div> -->

                <div class="row mb-xl-8 mb-1">
                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row3.img1}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row3.heading1}}</h4>
                        <p class="">{{$resource.section_two.row3.description1}}</p>
                    </div>

                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row3.img2}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row3.heading2}}</h4>
                        <p class="">{{$resource.section_two.row3.description2}}</p>
    
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Simple, monthly payout without worrying about any compliance or
                        legal aspects..</p>
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">With Uplers, you save up to 40% on salaries compared to the
                        local talent without compromising the quality.</p>

                </div> -->

                <div class="row mb-xl-8 mb-1">
                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row4.img1}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row4.heading1}}</h4>
                        <p class="">{{$resource.section_two.row4.description1}}</p>
                    </div>

                    <div class="col-1"><img class="ps-xl-11 ps-md-4"
                            src="{{$resource.section_two.row4.img2}}"
                            alt="" /></div>
                    <div class="col-xl-5 col-11 col-lg-5 col-md-5 ps-4 ps-xl-0_5">
                        <h4>{{$resource.section_two.row4.heading2}}</h4>
                        <p class="">{{$resource.section_two.row4.description2}}
                            </p>
    
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">Uplers takes care of onboarding formalities like Payroll, IT
                        and
                        admin support, etc. We make sure that the talent is ready to
                        start working from day one.</p>
                    <div class="col-1"></div>
                    <p class="col-5 mb-8">In the event that the talent does not meet your requirements or
                        resigns, you can leverage our 30-days replacement policy.</p>

                </div> -->
               



                <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                    <span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">{{$resource.section_two.get_in_touch}}</a></span>
                </div>

            </div>
        </section>
      

        <section class="wrapper">
            <div class="container pt-12 pb-xl-10 pb-md-2 pb-10">


                <h3 class="project-unlock mb-xl-6 ps-xl-6">{{$resource.section_three.title}}</h3>
                <div class="row offset-xl-1 offset-lg-1 offset-md-0 g-0">

                    

                    <div class="col-lg-12">
                        <ul class="timeline">
                            
                            <li  class="px-0 mx-0 timeline-display">
                                <!-- <div class="col-10"> -->
                                    
                                <div class="timeline-image">
                                    <img class="img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="{{$resource.section_three.list1.img}}"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <p class="project-lates">{{$resource.section_three.list1.title}}
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mb-0">
                                            {{$resource.section_three.list1.description}}
                                        </p>
                                    </div>
                                
                            </div>
                                <!-- </div> -->
                            </li>
                            <li class="timeline-inverted timeline-display">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="{{$resource.section_three.list2.img}}"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <label class="bg-linear-gradient-vetprocess timeline-labelheading">{{$resource.section_three.list2.only}}
                                            <b>{{$resource.section_three.list2.bold}}</b> {{$resource.section_three.list2.unbold}}</label>
                                        <p class="project-lates pt-2">{{$resource.section_three.list2.title}}</p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            {{$resource.section_three.list2.description}}
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-display">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="{{$resource.section_three.list3.img}}"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <label class="bg-linear-gradient-vetprocess timeline-labelheading"><b>{{$resource.section_three.list3.bold}}</b>
                                            {{$resource.section_three.list3.unbold}}</label>
                                        <p class="project-lates pt-2">{{$resource.section_three.list3.title}}</p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            {{$resource.section_three.list3.description}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted timeline-display">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="{{$resource.section_three.list4.img}}"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="col-10">
                                        <div class="timeline-heading">
                                            <label
                                                class="bg-linear-gradient-vetprocess timeline-labelheading"><b>{{$resource.section_three.list4.bold}}</b>
                                                {{$resource.section_three.list4.unbold}}</label>
                                            <p class="project-lates pe-xl-22 pe-lg-22 pe-0 pt-2">{{$resource.section_three.list4.title}}
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                {{$resource.section_three.list4.description}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-display">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="{{$resource.section_three.list5.img}}"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <label class="bg-linear-gradient-vetprocess timeline-labelheading">{{$resource.section_three.list5.unbold}}
                                            <b>{{$resource.section_three.list5.bold}}</b>
                                            {{$resource.section_three.list5.unbold1}}</label>
                                        <p class="project-lates pt-2">{{$resource.section_three.list5.title}}</p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            {{$resource.section_three.list5.description}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive img-fluid timeline-image-stackfugmentations"
                                        src="https://res.cloudinary.com/biggworks/image/upload/v1685432423/Group_11302_3_yu3ncg.png"
                                        alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="col-10">
                                        <div class="timeline-heading">

                                            <p class="project-lates pe-xl-22 pe-lg-22 pe-0">Biggworks Certified Talent
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Finally, the top 3.5% talents make it to the Talent network and become
                                                Uplers Certified Talent.</p>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>

            </div>
        </section>

      
       
        <!-- <section class="wrapper">
			<div class="container pt-8">
				<div class="row gy-10">
					<div class="col-12 col-xl-7 col-lg-6 col-md-6">
						<p class="project-unlock mb-6">{{$resource.section_four.title}}</p>
						<div class="landingpage-card-client-says card mb-6">
							<div class="card-body-clients">
								<p class="lead fs-lg mb-2 px-4">
									{{$resource.section_four.description}}
									
								</p>

							</div>
						</div>
					</div>
					<div class="col-1 col-xl-1 col-lg-1 col-md-0"></div>
					<div class="col-10 col-md-5 col-xl-4 col-lg-5 text-right pt-xl-13 pt-md-16 pt-lg-8 pt-4">
						<img class="col-12 col-md-12 landingpage-image img-fluid"
							src="{{$resource.section_four.img}}"
							alt="" />
					</div>
				</div>
				<div class="row">
				
					<div class="col-12 col-md-10 col-xl-6 col-lg-6 pt-xl-0 pt-md-0 pt-10">

						<div class="item pb-8">
							<div class="background-blockquote">
								<h3 class=""><img class="pe-xl-3 pe-0"
										src="{{$resource.section_four.row.img}}"
										alt="" /> <span>{{$resource.section_four.row.software}}</span></h3>
								<p class="ps-xl-11_5 ps-10 ps-md-10">{{$resource.section_four.row.place}}</p>
							</div>
							<div class="blockquote-details ps-20">

							</div>
						</div>

					</div>
				</div>
				<div class="d-flex" data-group="page-title-buttons" data-delay="600">
					<span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
							data-bs-target="#exampleModal">{{$resource.section_four.row.btn_discover}}</a></span>
				</div>



			</div>
		</section> -->

        <section class="wrapper bg-linear-gradient">
            <div class="container text-center mt-8 pb-4">
                <p class="project-unlock mb-2 pt-8"> {{$resource.section_five.title}}</p>
                <p class="lead fs-lg mb-6">
                    {{$resource.section_five.sub_title}}
                </p>
                <div class="col-12">
                    <img class="img-fluid"
                        src=" {{$resource.section_five.img}}"
                        alt="" />
                </div>
               


            </div>
        </section>

        <section class="wrapper">
            <div class="container pt-8 pb-8 card-container-landingpage">

                <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                    <div class="col-md-10 col-lg-10 col-xl-10 mx-auto text-center">
                      <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
                        {{$resource.section_six.title}}
                      </h2>
                      <h1 class="display-1 mb-4">
                        {{$resource.section_six.sub_title}}
                      </h1>
                      </div>
                      </div>
                      <div class="col-md-10 col-lg-10 col-xl-9 mx-auto text-center">
          
                      <p class="lead fs-lg mb-12">
                        {{$resource.section_six.description}}
                      </p>
                    </div>

               


                <div class="grid mb-4">
					<div class="row">
						<div class="item col-md-6 col-xl-4 mb-10">
							<div class="card about-image">
								<div class="card-body">
									
									<h4 class="mb-4">{{$resource.section_six.grid.card1.title}}</h4>
                <p class="mb-0">
                    {{$resource.section_six.grid.card1.description}}
                </p>

								</div>

							</div>
						</div>
						<div class="item col-md-6 col-xl-4 mb-10">
							<div class="card about-image">
								<div class="card-body">
									
									<h4 class="mb-4">{{$resource.section_six.grid.card1.title}}</h4>
									<p class="mb-0">{{$resource.section_six.grid.card1.description}}
									</p>

								</div>

							</div>
						</div>
						<div class="item col-md-6 col-xl-4 mb-10">
							<div class="card about-image">
								<div class="card-body">
									
									<h4 class="mb-4">{{$resource.section_six.grid.card1.title}}</h4>
									<p class="mb-0"> {{$resource.section_six.grid.card1.description}}</p>

								</div>

							</div>
						</div>
					</div>
				</div>



               
               
               
                <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                    <span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">{{$resource.section_six.btn_get_the}}</a></span>
                </div>
            </div>
        </section>

        <section class="wrapper bg-linear-gradient">
            <div class="container pb-10">
            <div class="row text-left">
                <div class="col-md-10 col-lg-10 col-xl-12 col-xxl-6 text-left">

                    <h4 class="mb-4 pt-6">
                        {{$resource.section_seven.title}}
                    </h4>
                    <p class="lead fs-lg mb-6">
                        {{$resource.section_seven.description}}
                    </p>
                    <div class="d-flex" data-group="page-title-buttons" data-delay="600">
                        <span><a class="btn btn-primary rounded-0" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">{{$resource.section_seven.btn_get_in_touch}}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

       
    </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
            authDomain: "biggworks-dd979.firebaseapp.com",
            databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "biggworks-dd979",
            storageBucket: "biggworks-dd979.appspot.com",
            messagingSenderId: "160882722753",
            appId: "1:160882722753:web:f067b273803ff585359140",
            measurementId: "G-377HKGT4RW"
        };
        firebase.initializeApp(firebaseConfig);

        let candidateInfo = firebase.database().ref("candidate");

        var application = document.getElementById("application");

        function saveRecordtoDatabase() {
            console.log("saveRecordtoDatabase");
            event.preventDefault();
            let newCandidateInfo = candidateInfo.push();

            newCandidateInfo.set({
                name: document.getElementById('form-name').value,
                email: document.getElementById('form_email').value,
                phone: document.getElementById('form_phone').value,
                position: document.getElementById('form_position').value

            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
        <script>
            new MultiSelectTag('countries', {
              disableSearch: true
            });
          </script>
   
    <!-- </div> -->
    <!-- /.content-wrapper -->
</body>
{{ end }}