{{ define "main" }} 
<!-- {{ $resource := getJSON "http://bw-strapi:1337/services" }} -->
{{ $resource := getJSON "https://cms.biggworks.com/services" }}

<!-- {{ printf "My data: %s"  $resource}} -->

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-gray">
      {{ partial "nav.html" . }}
      <!-- /.navbar -->
    </header>

    <section class="wrapper bg-white">

      <div
      class="d-flex align-items-center bg-overlay-400 px-xl-10 px-xxl-20 px-lg-14 px-md-0 service_background_image pb-xl-0 pb-md-22_5 pb-xxl-15 pt-16">
      <div class="container pt-md-0 pt-xl-1">
        <div class="row gy-10">
          <div class="col-xl-5 col-lg-12 col-xxl-6">

            <h2
              class="fs-16 fw-normal ls-3x text-uppercase mb-5 mt-8 mt-md-8 mb-md-0 mt-xl-15 mt-xxl-18 mb-lg-5 mb-md-8 service-text service-text-large-screen">
              {{$resource.section_one.title}}
            </h2>

              <h1 class="display-1 mb-4 mb-lg-5 mb-xl-5 service-text service-text-large-screen">
                {{$resource.section_one.subtitle}}
              </h1>
              <p class="lead fs-lg text-left mb-7 col-xl-11 col-lg-12 service-text service-text-large-screen">
                {{$resource.section_one.description}}
              </p>
              <div class="service-text service-text-large-screen" data-group="page-title-buttons service-text"
                data-delay="600">
                <span><a href="#myModal1" class="btn btn-primary rounded-0"
                    data-bs-toggle="modal">{{$resource.section_one.btn_talk_to_us}}</a></span>
              </div>
              <div class="mt-22 mt-xxl-0 mt-xl-0 mt-md-0"></div>
              <div id="myModal1" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-fullscreen modal-lg">
                  <div class="modal-content">
                    <h4 class="modal-title  text-center project-unlock pt-xl-10 pt-md-16 pt-13">{{$resource.section_one.modal_title}}
                    </h4>
                    <p type="button" class="btn-custum" data-bs-dismiss="modal" aria-label="Close">                    <span class="iconify-inline" data-icon="la:times" style="font-size: 28px;"></span>
                    </p>
                    <div class="modal-body">
                      <!-- <section id="tabs" class="wrapper pt-0 pb-md-4">
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-lg-8 col-12">

                            <div class="form_card">

                              <div class="card-body">

                                <div class="tab-content">


                                  <form class="contact-form" method="post" id="serviceForm"
                                    onsubmit="saveRecordtoDatabase()">
                                    <div class="messages"></div>
                                    <div class="controls">
                                      <div class="row gx-4">
                                        <div class="col-md-6">
                                          <label class="form-label">First Name*</label>
                                          <div class="form-label-group mb-4">
                                            <input id="form_name" type="text" name="name" class="form-control"
                                              placeholder="Jane" required="required"
                                              data-error="First Name is required.">
                                            <label for="form_name">{{$resource.section_one.fname}}</label>
                                            <div class="help-block with-errors"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label">Last Name*</label>
                                          <div class="form-label-group mb-4">
                                            <input id="form_lastname" type="text" name="surname" class="form-control"
                                              placeholder="Doe" required="required" data-error="Last Name is required.">
                                            <label for="form_lastname">{{$resource.section_one.lastname}}</label>
                                            <div class="help-block with-errors"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label">Email address*</label>
                                          <div class="form-label-group mb-4">
                                            <input id="form_email" type="email" name="email" class="form-control"
                                              placeholder="jane.doe@example.com" required="required"
                                              data-error="Valid email is required.">
                                            <label for="form_email">{{$resource.section_one.email}}</label>
                                            <div class="help-block with-errors"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="form-label">Phone*</label>
                                          <div class="form-label-group mb-4">
                                            <input id="form_phone"  type="tel" name="phone" class="form-control"
                                            placeholder="Your phone number" minlength="10" maxlength="10" oninput="validatePhoneNumber(this)" required="required">
                                            <label for="form_phone">{{$resource.section_one.phone}}</label>
                                            <div class="help-block with-errors" id="form_phone_error"></div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <label class="form-label">Message</label>
                                          <div class="form-label-group mb-4">
                                            <textarea id="form_message" name="message" class="form-control"
                                              placeholder="Your message" rows="5"></textarea>
                                            <label for="form_message">{{$resource.section_one.message}}</label>
                                            <div class="help-block with-errors"></div>
                                          </div>
                                        </div>


                                        <div class="col-1">
                                          <input type="submit"
                                            class="btn btn-primary button-widthincrease rounded-0 btn-send mb-3"
                                            value="Contact us">

                                        </div>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </section> -->

{{partial "contact-form.html" .}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="wrapper bg-white">
      <div class="container pb-5">
        <h2 class="fs-15 text-uppercase"></h2>
        <div class="slider">

          <div class="slide" data-loop="true" data-dots="false" data-autoplay="true">

            <div class="item px-5">
              <img src="{{$resource.section_two.android}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.python}}" alt="" />
            </div>
            <!-- <div class="item px-5">
              <img src="{{$resource.section_two.react}}" alt="" />
            </div> -->
            <div class="item px-5">
              <img src="{{$resource.section_two.ios}}" alt="" />
            </div>
            <div class="item px-8">
              <img src="{{$resource.section_two.api}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.aws}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.java}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.node}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.adobe}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.angular}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.vue}}" alt="" />
            </div>
            <div class="item px-8">
              <img src="{{$resource.section_two.ionic}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.laravel}}" alt="" />
            </div>
            <!-- <div class="item px-5">
              <img src="{{$resource.section_two.jquery}}" alt="" />
            </div> -->
            <div class="item px-5">
              <img src="{{$resource.section_two.flutter}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.django}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.mqtt}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.lora}}" alt="" />
            </div>
            <div class="item px-8">
              <img src="{{$resource.section_two.espressif}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.nordic}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.qualcomm}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.ublox}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.rails}}" alt="" />
            </div>
            <div class="item px-8">
              <img src="{{$resource.section_two.docker}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.azure}}" alt="" />
            </div>
            <!-- <div class="item px-5">
              <img src="{{$resource.section_two.telite}}" alt="" />
            </div> -->
            <div class="item px-5">
              <img src="{{$resource.section_two.xamarin}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.rasberrypi}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.figma}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.adobexd}}" alt="" />
            </div>
            <div class="item px-8">
              <img src="{{$resource.section_two.stamin}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.bootstrap}}" alt="" />
            </div>
            <div class="item px-5">
              <img src="{{$resource.section_two.adobephotoshop}}" alt="" />
            </div>



          

          </div>
        </div>
      </div>
    </section>

    <section class="wrapper">
      <div class="container text-center mb-8">
        <div class="row align-items-center">
          <div class="col-xl-7 col-md-12 mx-auto text-center">
            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_three.heading}} </h2>
            <h1 class="display-1">
              {{$resource.section_three.Subtitle}}
            </h1>
          </div>
          <div class="col-xl-10 col-md-12 mx-auto text-center">

            <p class="lead fs-lg mb-12">
              {{$resource.section_three.Description}}
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-0 col-xl-1 col-lg-1 col-md-0"></div>
          <div class="col-12 col-xl-10 col-lg-8 col-md-12">
          <img class="col-12 col-xl-12 col-lg-12 col-md-12 text-center" src={{$resource.section_three.image}} alt="" />
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>
    </section>
    <!-- <section class="wrapper">
        <div class="container">
          <div class="row g-0 gy-8 gy-md mb-14">
            <div class="col-xl-1 col-lg-1 ps-xl-19 ps-0 ps-md-0"></div>
            <div class="col-md-5 col-lg-4 col-xl-4">
              <div class="about-image card">
                <div class="card-body">
                  <h4 class="mb-xl-8 mb-lg-8">{{$resource.section_four.card1.heading}}</h4>
                <p class="mb-2">
                    {{$resource.section_four.card1.paragraph}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-1 col-md-2"></div>

					<div class="col-md-5 col-lg-4 col-xl-4">
						<div class="about-image card">
							<div class="card-body">
								<h4 class="mb-xl-8 mb-lg-8">{{$resource.section_four.card2.heading}}</h4>
                <p class="mb-2">
                    {{$resource.section_four.card2.paragraph}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    
    <section class="wrapper">
      <div class="container pb-15">
       


        <div class="image-text-container pb-2">
          <!-- <div class="service-points"> -->
          <!-- <img src="https://res.cloudinary.com/biggworks/image/upload/v1686326321/span_1_fc7ugg.png" alt="Image" class="image"> -->
          <div class="numberCircle">1</div>

        <!-- </div> -->
          <h4 class="text-content pt-2 ps-2">Ideate</h4>
        </div>
        <p class="mb-8 ps-2">In this crucial step innovative ideas are generated, explored and refined. It involves brainstorming, concept development and evaluation of potential solutions, setting the stage for the subsequent stages of product development and design.</p>

          <div class="image-text-container pb-2">
            <!-- <img src="https://res.cloudinary.com/biggworks/image/upload/v1686326332/span_kucyvw.png" alt="Image" class="image"> -->
            <div class="numberCircle">2</div>
            <h4 class="text-content pt-2 ps-2">Design</h4>
          </div>
        
        <p class="mb-8 ps-2">This phase encompasses translating the selected idea into a detailed plan. It involves us creating technical specifications, prototypes, and finalizing the product's form, function and aesthetics. We lay the groundwork for manufacturing and further development iterations.</p>

          <div class="image-text-container pb-2">
            <div class="numberCircle">3</div>
            <!-- <img src="https://res.cloudinary.com/biggworks/image/upload/v1686326357/span_2_yk6hrw.png" alt="Image" class="image"> -->
            <h4 class="text-content pt-2 ps-2">Develop</h4>
          </div>
       
        <p class="mb-8 ps-2">It involves translating the design concept into a tangible software product. It encompasses tasks such as gathering software requirements, developing software prototypes, conducting tests and refining the design based on feedback. The objective is to create a functional and deployable software product that meets the desired specifications and is ready for market release.</p>

          <div class="image-text-container pb-2">
            <div class="numberCircle">4</div>
            <!-- <img src="https://res.cloudinary.com/biggworks/image/upload/v1686326350/span_3_b5p9sb.png" alt="Image" class="image"> -->
            <h4 class="text-content pt-2 ps-2">Scale</h4>
          </div>
        <p class="mb-8 ps-2">This phase involves optimizing software development processes, streamlining operations and ensuring software quality and consistency at a larger scale. The objective is to achieve efficient software production and successful market penetration, ensuring that the software can be delivered to a larger user base while maintaining high-quality standards.</p>

          <div class="image-text-container pb-2">
            <div class="numberCircle">5</div>
            <!-- <img src="https://res.cloudinary.com/biggworks/image/upload/v1686326342/span_4_nlinla.png" alt="Image" class="image"> -->
            <h4 class="text-content pt-2 ps-2">Iterate</h4>
          </div>
        <p class="ps-2">Here we focus on continuous feedback, evaluation and refinement. It gathers user feedback, analyzes data and iteratively improves the software to enhance functionality and align with user needs and market requirements.</p>
      </div>
    </section>

    <section class="wrapper bg-light">
			<div class="container pb-5">

					<div class="row g-0 mb-4 gx-6 mb-md-10 mb-xl-15 mb-lg-14">
						<div class="col-md-6 col-lg-4 col-xl-4 mb-11 mb-xl-0 mb-md-0 mb-lg-0">
						  <div class="about-image card">
							<div class="card-body">
								
								<h4 class="mb-4">MVP</h4>
								<p class="mb-xl-0 mb-md-5">We will work closely together to conceptualize, design, and develop a simplified version of your product. The emphasis is on identifying and implementing essential features, ensuring usability, and obtaining your feedback for iterative improvements and validation.
								</p>

			  
							</div>
						  </div>
						</div>
			  
						<div class="col-md-6 col-lg-4 col-xl-4 mb-11 mb-xl-0 mb-md-6 mb-lg-0">
							<div class="about-image card">
							  <div class="card-body">
							
								<h4 class="mb-4">Product-Market fit</h4>
								<p class="mb-0">We will aid you in achieving product-market fit by conducting market research, refining the value proposition, optimizing pricing, implementing marketing strategies, and incorporating customer feedback to align your product with the target market's needs and preferences.
								</p>
  
				
							  </div>
							</div>
						  </div>
				
						  <div class="col-md-6 col-lg-4 col-xl-4 mb-11 mb-xl-0 mb-md-6 mb-lg-0">
							<div class="about-image card">
							  <div class="card-body">
								
								<h4 class="mb-4">Scaling</h4>
								<p class="mb-10_5">We will provide expertise and support in areas such as operational optimization, market expansion strategies, and scalability planning to facilitate successful growth and increased market presence. </p>
  
				
							  </div>
							</div>
						  </div>
				
						</div>
					  </div>

					  
					</div>


					
			</div>

		</section>

    <!-- <section class="wrapper bg-linear-gradient">
      <div class="container text-left">
        <h4 class="mb-4 pt-10">{{$resource.section_five.heading}}</h4>
        <p class="build pb-12">
          {{$resource.section_five.paragraph}}
        </p>
      </div>
      <div class="mb-xl-6 mb-lg-6"></div>
    </section> -->


    <!-- <section class="wrapper bg-white">
      <div class="container pb-4 pb-xl-0 pb-lg-0 pb-md-4">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-md-10 col-lg-12 col-xl-8 mx-auto text-center">
            <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_four.title}}
            </h2>
            <h1 class="display-1 mb-4">
              {{$resource.section_four.subtitle}}
            </h1>
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-xl-7 mx-auto text-center">


          <p class="lead fs-lg mb-12">
            {{$resource.section_four.description}}
          </p>
        </div>
        <div class="row g-0 mb-8">
          <div class="col-xl-1 pe-18"></div>
          <div class="col-md-5 col-lg-4 col-xl-4 mb-13 mb-xl-0 mb-md-0 mb-lg-0">
            <div class="about-image card">
              <div class="card-body-agile-methods card-body">
                <h4 class="mb-4">{{$resource.section_four.card1.heading}}</h4>
                <p class="">
                  {{$resource.section_four.card1.paragraph}}
                </p>

              </div>
            </div>
          </div>
          <div class="col-xl-1 col-md-2"></div>

          <div class="col-md-5 col-lg-4 col-xl-4">
            <div class="about-image card">
              <div class="card-body-agile-methods complete-accountability-card card-body">
                <h4 class="mb-4">{{$resource.section_four.card2.heading}}</h4>
                <p class="">
                  {{$resource.section_four.card2.paragraph}}
                </p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->

    <!-- <section class="wrapper bg-linear-gradient">
      <div class="container pb-12 pt-10">
        <h4 class="mb-2">{{$resource.section_seven.heading1}}</h4>
        <p class="build">
          {{$resource.section_seven.paragraph1}}
        </p>
        <h4 class="mb-2 pt-2">{{$resource.section_seven.heading2}}</h4>
        <p class="build">
          {{$resource.section_seven.paragraph2}}

        </p>

      </div>
    </section> -->

    <section class="wrapper bg-white">
      <div class="container pb-4 pb-xl-8 pb-lg-14 pb-md-4">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-md-10 col-lg-10 col-xl-8 mx-auto text-center">
            <!-- <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_eight.title}}
            </h2> -->
            <h1 class="display-1 mb-4">
              {{$resource.section_eight.subtitle}}
            </h1>
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-xl-8 mx-auto text-center">

          <p class="lead fs-lg mb-12">
            {{$resource.section_eight.description}}
          </p>
        </div>
        <div class="row g-0 mb-4 mb-md-10 mb-xl-15 mb-lg-14">
          <div class="col-xl-1 pe-18"></div>
          <div class="col-md-5 col-lg-4 col-xl-4 mb-13 mb-xl-0 mb-md-0 mb-lg-0">
            <div class="about-image">
              <div class="card-body card-body-service">
                <h4 class="mb-4">{{$resource.section_eight.card1.title}}</h4>
                <p class="mb-2">
                  {{$resource.section_eight.card1.description}}
                </p>

              </div>
            </div>
          </div>
          <div class="col-xl-1 col-md-2"></div>

          <div class="col-md-5 col-lg-4 col-xl-4 mb-4 mb-xl-0 mb-md-0 mb-lg-0">
            <div class="about-image card">
              <div class="card-body card-body-service">
                <h4 class="mb-4">{{$resource.section_eight.card2.title}}</h4>
                <p class="mb-7">
                  {{$resource.section_eight.card2.description}}
                </p>
                <p></p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0 gy-8 mb-4 mb-md-0">
          <div class="col-xl-1 pe-18"></div>
          <div class="col-md-5 col-lg-4">
            <div class="about-image card">
              <div class="card-body card-body-service">
                <h4 class="mb-4">{{$resource.section_eight.card3.title}}</h4>
                <p class="mb-xl-8 mb-md-1" >
                  {{$resource.section_eight.card3.description}}
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-2 col-xl-1"></div>
          <div class="col-md-5 col-lg-4">
            <div class="about-image scalability-card card">
              <div class="card-body card-body-service">
                <h4 class="mb-4">{{$resource.section_eight.card4.title}}</h4>
                <p class="mb-xl-2 mb-lg-2">
                  {{$resource.section_eight.card4.description}}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="wrapper">
			<div class="container text-center">
				<h2 class="fs-16 fw-normal ls-3x mb-5 pt-6 text-uppercase text-muted">
            {{$resource.section_six.title}}
          </h2>
          <h3 class="display-4 mb-4">
            {{$resource.section_six.subtitle}}
        </h3>
				<p class="lead fs-lg text-left mb-10 px-xl-15 px-xl-18">
          {{$resource.section_six.description}}
        </p>
      </div>
    </section>
     -->
     

    <section class="wrapper bg-linear-gradient">
      <div class="container pt-6">
        <div class="slider  pt-20 pb-18" style=" width: 100%; 
       ">

          <div class="slide services-slider-width" data-loop="true" data-dots="false" data-autoplay="true" style=" display:flex; animation: slide 98s linear infinite; 
          
          ">

           
            <div class="card-carousel-slider" style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex; 
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.dermidia.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.dermidia.author}}</h4>
                  <p>
                    {{$resource.section_nine.dermidia.company}}
                  </p>
    
                
               
    
                
              </div>
            </div> 
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.flows.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.flows.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.flows.author}}</h4>
                  <p>
                    {{$resource.section_nine.flows.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <!-- <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13">{{$resource.section_nine.David.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.David.author}}</h4>
                  <p>
                    {{$resource.section_nine.David.company}}
                  </p>
    
                
               
    
                
              </div>
            </div> -->
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction:column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.Brad.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.Brad.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.Brad.author}}</h4>
                  <p>
                    {{$resource.section_nine.Brad.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <div style="margin-right: 70px;"></div>
            
            <div class="card-carousel-slider " style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.dermidia.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.dermidia.author}}</h4>
                  <p>
                    {{$resource.section_nine.dermidia.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
           
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.flows.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.flows.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.flows.author}}</h4>
                  <p>
                    {{$resource.section_nine.flows.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
           
            <!-- <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13">{{$resource.section_nine.David.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.David.author}}</h4>
                  <p>
                    {{$resource.section_nine.David.company}}
                  </p>
    
                
               
    
                
              </div>
            </div> -->
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.Brad.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.Brad.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.Brad.author}}</h4>
                  <p>
                    {{$resource.section_nine.Brad.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>

            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column; ">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.dermidia.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.dermidia.author}}</h4>
                  <p>
                    {{$resource.section_nine.dermidia.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.flows.img}}"/>
                </div>
    
                <p class="mb-xl-10 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.flows.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.flows.author}}</h4>
                  <p>
                    {{$resource.section_nine.flows.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <!-- <div style="margin-right: 70px;"></div>


            <div class="card-carousel-slider">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13">{{$resource.section_nine.dermidia.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.dermidia.author}}</h4>
                  <p>
                    {{$resource.section_nine.dermidia.company}}
                  </p>
    
                
               
    
                
              </div>
            </div> -->
            <div style="margin-right: 70px;"></div>

            <div class="card-carousel-slider " style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.Brad.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.Brad.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.Brad.author}}</h4>
                  <p>
                    {{$resource.section_nine.Brad.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <div style="margin-right: 70px;"></div>

            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body"  style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.dermidia.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.dermidia.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.dermidia.author}}</h4>
                  <p>
                    {{$resource.section_nine.dermidia.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <div style="margin-right: 70px;"></div>

            <div class="card-carousel-slider " style="justify-content: flex-start;">
              <div class="card-body" >
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.flows.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.flows.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.flows.author}}</h4>
                  <p>
                    {{$resource.section_nine.flows.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>
            <div style="margin-right: 70px;"></div>
            <div class="card-carousel-slider " style="flex-shrink: 0; justify-content: flex-start;">
              <div class="card-body" style="display: flex;
              flex-direction: column;">
                <div class="image">
                  <img class="mb-6" src="{{$resource.section_nine.Brad.img}}"/>
                </div>
    
                <p class="mb-xl-8 mb-md-9 mb-lg-9 mb-4 pe-xl-13 pt-3">{{$resource.section_nine.Brad.description}}</p>
                  <h4 class="mb-1">{{$resource.section_nine.Brad.author}}</h4>
                  <p>
                    {{$resource.section_nine.Brad.company}}
                  </p>
    
                
               
    
                
              </div>
            </div>



              </div>
              </div>
        
      </div>
    </section>
    <section class="wrapper">
      <div class="container text-center pt-12">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-md-10 col-lg-10 col-xl-12 col-xxl-6 mx-auto text-center">
            <!-- <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
              {{$resource.section_ten.title}}
            </h2> -->
            <h1 class="display-1 mb-4">
              {{$resource.section_ten.sub_title}}
            </h1>
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-xl-8 mx-auto text-center">

          <p class="lead fs-lg mb-9">
            {{$resource.section_ten.description}}
          </p>
        </div>

        <div class="grid">
          <div class="row my-2 offset-xl-1 service-offset-card offset-lg-1 offset-1 mb-xl-8 mb-md-8 mb-lg-8 mb-5">
            <div class="item col-md-5 col-xl-3 col-lg-3 mb-xl-15 col-12 mb-lg-12 mb-md-12 mb-10">
              <div class="card career-card-technology service-every-stage">
                <div class="card-body">
                  <div class="text-center">
                    <img class="mb-xl-8 pt-xl-3 mb-lg-8 pt-lg-4 mb-md-8 pt-md-4 mb-8 pt-4"
                      src="{{$resource.section_ten.card1.image}}" alt="" />
                    <p class="lead">{{$resource.section_ten.card1.title}}</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"></div>
            <div class="item col-md-5 col-xl-3 col-lg-3 mb-xl-15 col-12 mb-lg-12 mb-md-12 mb-10">
              <div class="card career-card-technology service-every-stage">
                <div class="card-body" style="padding:2px 0px">
                  <div class="text-center">
                    <img class="mb-xl-7 pt-xl-11 mb-lg-8 pt-lg-4 mb-md-9 pt-md-10 mb-8 pt-10"
                      src="{{$resource.section_ten.card2.image}}" alt="" />
                    <p class="lead mb-xl-1">{{$resource.section_ten.card2.title}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"></div>

            <div class="item col-md-5 col-xl-3 col-lg-3 mb-xl-15 col-12 mb-lg-12 mb-md-12 mb-10">
              <div class="card career-card-technology service-every-stage">
                <div class="card-body">
                  <div class="text-center">
                    <img class="mb-xl-6 pt-xl-4 mb-lg-8 pt-lg-4 mb-md-8 pt-md-4 mb-8 pt-4"
                      src="{{$resource.section_ten.card5.image}}" alt="" />
                    <p class="lead">{{$resource.section_ten.card5.title}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>


            <div class="item col-md-5 col-xl-3 col-lg-3 col-12 mb-xl-4 mb-lg-12 mb-md-4 mb-10">
              <div class="card career-card-technology service-every-stage">
                <div class="card-body" style="padding:0px">
                  <div class="text-center">
                    <img class="mb-xl-7 pt-xl-11 mb-lg-8 pt-lg-4 mb-md-9 pt-md-10 mb-8 pt-10"
                      src="{{$resource.section_ten.card3.image}}" alt="" />
                    <p class="lead">{{$resource.section_ten.card3.title}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"></div>
            <div class="item col-md-5 col-xl-3 col-lg-3 col-12 mb-xl-4 mb-lg-12 mb-md-4 mb-10">
              <div class="card career-card-technology service-every-stage">
                <div class="card-body">
                  <div class="text-center">
                    <img class="mb-xl-7 pt-xl-3 mb-lg-8 pt-lg-4 mb-md-8 pt-md-4 mb-8 pt-4"
                      src="{{$resource.section_ten.card4.image}}" alt="" />
                    <p class="lead">{{$resource.section_ten.card4.title}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"></div>

            <div class="item col-md-5 col-xl-3 col-lg-3 col-12 mb-xl-4 mb-lg-12 mb-md-4 mb-10">
              <div class="card career-card-technology service-every-stage ">
                <div class="card-body">
                  <div class="text-center">
                    <img class="mb-xl-7 pt-xl-3 mb-lg-8 pt-lg-4 mb-md-8 pt-md-4 mb-8 pt-4"
                      src="{{$resource.section_ten.card6.image}}" alt="" />
                    <p class="lead">{{$resource.section_ten.card6.title}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper bg-linear-gradient">
			<div class="container pt-xl-6 pt-lg-6 pt-md-8 pt-10 pb-6">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-12">
						
            <p class="service_ready mb-xl-6 mb-lg-6 mb-md-0 mb-6 pt-5">
              {{$resource.section_eleven.sub_title}}
            </p>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-2"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12 ps-xl-16 ps-0">
						<div class="d-flex justify-content-center pt-2" data-group="page-title-buttons" data-delay="600">
							<span><a href="#myModal1" class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal">{{$resource.section_eleven.btn_talk_to_us}}
                </a></span
              >
            </div>
          </div>
        </div>
      </div>
    </section>


    
  </div>
 
  
  


</body>
{{ end }}