{{ define "main" }} {{ $resource := getJSON "http://bw-strapi:1337/services" }}

<!-- {{ printf "My data: %s"  $resource}} -->

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-gray">
      {{ partial "nav.html" . }}
      <!-- /.navbar -->
    </header>

    

    
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyAVkhv2ZG_gB9yl113rVsrHAjQEnejhsm0",
      authDomain: "biggworks-dd979.firebaseapp.com",
      databaseURL: "https://biggworks-dd979-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "biggworks-dd979",
      storageBucket: "biggworks-dd979.appspot.com",
      messagingSenderId: "160882722753",
      appId: "1:160882722753:web:f067b273803ff585359140",
      measurementId: "G-377HKGT4RW"
    };
    firebase.initializeApp(firebaseConfig);

    let candidateInfo = firebase.database().ref("candidate");

    var application = document.getElementById("application");

    function saveRecordtoDatabase() {
  event.preventDefault();

  var firstName = document.getElementById('form_name').value;
  var lastName = document.getElementById('form_lastname').value;
  var email = document.getElementById('form_email').value;
  var phone = document.getElementById('form_phone').value;

  var errorContainer = document.querySelector('.messages');
  errorContainer.innerHTML = '';

  if (firstName.trim() === '') {
    displayError('form_name', 'First Name is required.');
  }

  if (lastName.trim() === '') {
    displayError('form_lastname', 'Last Name is required.');
  }

  if (email.trim() === '') {
    displayError('form_email', 'Email address is required.');
  }

  if (phone.trim() === '') {
    displayError('form_phone', 'Phone number is required.');
  } else if (!/^\d{10}$/.test(phone)) {
    displayError('form_phone', 'Phone number should be 10 digits.');
  }

  // ... Perform validation for other fields

  if (errorContainer.innerHTML === '') {
    let newCandidateInfo = candidateInfo.push();

    newCandidateInfo.set({
      name: firstName,
      surname: lastName,
      email: email,
      phone: phone,
      message: document.getElementById('form_message').value
    });

    // Reset the form after submission
    application.reset();

    var successContainer = document.querySelector('.messages');
    successContainer.innerHTML = '<div class="alert alert-success">Record saved successfully!</div>';
  }
}

function displayError(fieldId, errorMessage) {
  var errorContainer = document.getElementById(fieldId + '_error');
  errorContainer.innerHTML = '<div class="error-message">' + errorMessage + '</div>';
}
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>

  {{ partial "footer.html" . }} {{ partial "page-progress.html" . }}
</body>
{{ end }}