{{ define "main" }}
<!-- {{ $resource := getJSON "http://bw-strapi:1337/web-apps" }} -->

{{ $resource := getJSON "https://cms.biggworks.com/web-apps" }}

<!-- {{ printf "My data: %s"  $resource}} -->

<body>
    <div class="content-wrapper">
        <header class="wrapper bg-gray">
            <!-- /.navbar -->
            {{ partial "nav.html" . }}

        </header>
        <!-- /header -->

        <section class="wrapper">
            <div class="container mt-xl-6 mt-0 mb-xxl-12 mb-xl-10 mb-md-8 mb-12">
                <div class="row">
                    <div class="col-xl-2 col-md-2 col-5 mt-xl-15 mt-md-15 mt-12">
                        <!-- <a href="/">
                <img class="img-fluid col-xl-4 col-lg-7 col-md-10" src="https://res.cloudinary.com/biggworks/image/upload/v1691837164/Group_1_2_gp5lya.png" alt=""/>
            </a> -->
            </div>
            </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-6 col-lg-6 mb-6">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4 pt-xxl-12 pt-8 service-text">
                            {{$resource.section_one.title}} </h2>
                        <h1 class="display-1 mb-3 service-text me-xxl-12 ">
                            {{$resource.section_one.subtitle}}
                        </h1>
                        <p class="lead fs-lg text-left mb-5 service-text me-xxl-18">
                            {{$resource.section_one.description}}
                        </p>

                        </p>

                        <div class="d-flex service-text mb-4" data-group="page-title-buttons" data-delay="600">
                            <span><a href="#landingpage4Modal" class="btn btn-primary rounded-0"
                                    data-bs-toggle="modal">{{$resource.section_one.get_in_touch}}</a></span>
                        </div>

                        <div class="modal fade" id="landingpage4Modal">
                            <div class="modal-dialog modal-fullscreen modal-lg">
                                <div class="modal-content">
                                    <!-- <div class="modal-header"> -->
                                    <p type="button" class="btn-custum" data-bs-dismiss="modal" aria-label="Close">                 
                                           <span class="iconify-inline" data-icon="la:times" style="font-size: 28px;"></span>
                                    </p>
                                    <h4 class="modal-title  text-center project-unlock pt-xl-15 pt-md-10 pt-13">
                                        {{$resource.section_one.modal.heading}}
                                    </h4>
                                    <!-- </div> -->
                                    <div class="modal-body">
                                       
                                        {{partial "landingpage-form.html" .}}

                                    </div>

                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 pt-md-10 pt-xxl-12 pt-lg-6 pt-xl-2">
                        <img class="col-12 col-xl-12 col-lg-12 col-md-12 img-fluid" src="{{$resource.section_one.img}}"
                            alt="Biggworks Web App Development Hero" />
                    </div>
                </div>

            </div>
        </section>





        <section class="wrapper">
            <div class="container pt-4">

                <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                    <div class="col-md-12 col-lg-12 col-xl-10 mx-auto text-center">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4">
                            {{$resource.section_two.title}}
                        </h2>
                        <h1 class="display-1 mb-9">
                            {{$resource.section_two.subtitle}}
                        </h1>
                    </div>
                </div>
                <!-- <div class="col-md-10 col-lg-8 col-xl-9 mx-auto text-center">

                    <p class="lead fs-lg mb-10">
                        {{$resource.section_two.description}}
                    </p>
                </div> -->

                <div class="content">


                    <div class="row mb-4 talent-rows">
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row1.img1}}" alt="Biggworks Custom Web App Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4 class="">{{$resource.section_two.row1.heading1}}</h4>
                            <p class="">{{$resource.section_two.row1.description1}}</p>
                        </div>
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row1.img2}}" alt="Biggworks MVP Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4>{{$resource.section_two.row1.heading2}}</h4>
                            <p class="">{{$resource.section_two.row1.description2}}</p>
                        </div>
                    </div>


                    <div class="row mb-4 talent-rows">
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row2.img1}}" alt="Biggworks Front End Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4 class="">{{$resource.section_two.row2.heading1}}</h4>
                            <p class="">{{$resource.section_two.row2.description1}}</p>
                        </div>
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row2.img2}}" alt="Biggworks Back End Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4>{{$resource.section_two.row2.heading2}}</h4>
                            <p class="">{{$resource.section_two.row2.description2}}</p>
                        </div>


                    </div>
                    <div class="row mb-4 talent-rows">
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row3.img1}}" alt="Biggworks Full Stack Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4 class="">{{$resource.section_two.row3.heading1}} </h4>
                            <p class="">{{$resource.section_two.row3.description1}}</p>
                        </div>
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row3.img2}}" alt="Biggworks UI-UX Design" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4>{{$resource.section_two.row3.heading2}}</h4>
                            <p class="">{{$resource.section_two.row3.description2}}</p>
                        </div>


                    </div>
                    <div class="row mb-4 talent-rows">
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row4.img1}}" alt="Biggworks ECommerce And Marketplace App Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4 class="">{{$resource.section_two.row4.heading1}}</h4>
                            <p class="">{{$resource.section_two.row4.description1}}</p>
                        </div>
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row4.img2}}" alt="Biggworks SAAS Appliccation Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4>{{$resource.section_two.row4.heading2}} </h4>
                            <p class="">{{$resource.section_two.row4.description2}}</p>
                        </div>


                    </div>

                    <div class="row mb-4 talent-rows">
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row5.img1}}" alt="Biggworks Cloud Application Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4 class="">{{$resource.section_two.row5.heading1}}</h4>
                            <p class="">{{$resource.section_two.row5.description1}}</p>
                        </div>
                        <div class="col-md-1 col-xl-1 col-lg-1 col-2 ps-md-0 ps-xxl-10 ps-xl-8 ps-lg-6">
                            <img src="{{$resource.section_two.row5.img2}}" alt="Biggworks CMS Web-Development" />
                        </div>
                        <div class="col-10 col-xl-5 col-lg-5 col-md-5">
                            <h4>{{$resource.section_two.row5.heading2}}</h4>
                            <p class="">{{$resource.section_two.row5.description2}}</p>
                        </div>


                    </div>


                    <div class="ps-xl-25_5 ps-15 ps-md-21_5 ps-lg-25 align-items-center">
                        <a href="#" id="read-more"
                            class="read-more read-more-project text-center pt-0">{{$resource.section_two.view_more}}
                            <img class="ps-3" src="{{$resource.section_two.view_more_img}}" alt="" /></a>
                        <a href="#" id="read-less"
                            class="read-less read-more-project ps-5 d-none">{{$resource.section_two.view_less}}<img
                                class="ps-3" src="{{$resource.section_two.view_less_img}}" alt="" /></a>
                    </div>

                </div>

            </div>

        </section>

        <section class="our_process_new">
            <div class="container container-desktoplandingpage pb-5 align-items-center">

                <div class="row gx-lg-8 gx-xl-12 gy-10">
                    <div class="col-md-10 col-lg-10 col-xl-12 mx-auto text-center">
                        <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4 mx-auto">
                            {{$resource.section_three.title}}
                        </h2>
                        <h1 class="display-1 mb-4">
                            {{$resource.section_three.sub_title}}
                        </h1>
                    </div>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-9 mx-auto text-center">

                    <p class="lead fs-lg mb-12">
                        {{$resource.section_three.description}}
                    </p>
                </div>


                <div class="row pb-6 offset-xl-1 offset-lg-1 offset-0">
                    <ul class="process_step">
                        <li class="step_one">
                            <div class="box_main">
                                <div class="im_box">
                                    <img src="{{$resource.section_three.step_one.img}}" alt="Biggworks Architecture">
                                </div>
                                <div class="cnt_box">
                                    <p class="lead fs-lg">{{$resource.section_three.step_one.title}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="step_two">
                            <div class="box_main">
                                <div class="im_box">
                                    <img src="{{$resource.section_three.step_two.img}}" alt="Biggworks Development">
                                </div>
                                <div class="cnt_box">

                                    <p class="lead fs-lg">{{$resource.section_three.step_two.title}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="step_three">
                            <div class="box_main">
                                <div class="im_box">
                                    <img src="{{$resource.section_three.step_three.img}}" alt="Biggworks Testing">
                                </div>
                                <div class="cnt_box">
                                    <p class="lead fs-lg ps-5">{{$resource.section_three.step_three.title}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="step_four">
                            <div class="box_main">
                                <div class="im_box">
                                    <img src="{{$resource.section_three.step_four.img}}" alt="Biggworks Deployment">
                                </div>
                                <div class="cnt_box">
                                    <p class="lead fs-lg">{{$resource.section_three.step_four.title}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="step_five">
                            <div class="box_main">
                                <div class="im_box">
                                    <img src="{{$resource.section_three.step_five.img}}" alt="Biggworks Production">
                                </div>
                                <div class="cnt_box">
                                    <p class="lead fs-lg">{{$resource.section_three.step_five.title}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div
                  class="d-flex justify-content-center"
                  data-group="page-title-buttons"
                  data-delay="600">
                  <span
                    ><a class="btn btn-primary rounded-0 mx-1"
                      >Get in touch</a
                    ></span
                  >
                </div> -->
                <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                    <span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
                            data-bs-target="#landingpage4Modal">{{$resource.section_three.btn_get_in_touch}}</a></span>
                </div>
            </div>
        </section>

        <section class="wrapper bg-linear-gradient">
            <div class="container pb-7 pt-6">
                <!-- <p class="project-unlock mb-8 text-center">{{$resource.section_four.sub_title}}</p> -->
                <!-- <p class="lead fs-lg mb-8 text-center">
                    {{$resource.section_four.sub_title}}
                </p> -->
                <h2 class="fs-16 fw-normal ls-3x text-uppercase mb-4 text-center ">
                    {{$resource.section_four.title}}
                </h2>
                <p class="project-unlock mb-xl-9 text-center mx-xl-21">{{$resource.section_four.sub_title}}</p>
                <div class="text-center">
                    <img class="img-fluid" src="{{$resource.section_four.img}}" alt="" />
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="container mt-8 mb-8">

                <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                    <div class="col-md-10 col-lg-10 col-xl-8 mx-auto text-center">
                        <p class="project-unlock pb-0">
                            {{$resource.section_five.title}}
                        </p>


                        <p class="lead fs-lg mb-7">
                            {{$resource.section_five.sub_title}}
                        </p>
                    </div>
</div>
                    <div class="row">

                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 pe-3 mb-4" src="{{$resource.section_five.row1.img}}" /> -->
<div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 pe-3 mb-4">
    <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>

</div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points ps-6 ps-xl-0 mb-6">
                            {{$resource.section_five.row1.point1}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4 mb-xl-0" src="{{$resource.section_five.row1.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4 mb-xl-0">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div
                            class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points pb-md-0 pb-xl-0 ps-6 ps-xl-0 mb-6">
                            {{$resource.section_five.row1.point2}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row1.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row1.point3}}</div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-1 mb-4">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5" src="{{$resource.section_five.row2.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row2.point1}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row2.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div
                            class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points  pb-xl-0 ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row2.point2}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row2.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row2.point3}}</div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row3.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row3.point1}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row3.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div
                            class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points  pb-xl-0 ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row3.point2}}</div>
                        <div class="col-1">
                            <!-- <img class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4" src="{{$resource.section_five.row3.img}}" /> -->
                            <div class="ps-xxl-10 ps-xl-6 ps-lg-9 ps-md-5 mb-4">
                                <span class="iconify-inline why-choose-biggworks-icon" data-icon="material-symbols:check" ></span>
                            
                            </div>
                        </div>
                        <div
                            class="col-xl-3 col-lg-3 col-md-11 col-11 weblandingpage_points pb-md-6 pb-xl-0 ps-6 ps-xl-0 mb-4">
                            {{$resource.section_five.row3.point3}}</div>
                    </div>


                    <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                        <span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
                                data-bs-target="#landingpage4Modal">{{$resource.section_five.get_in_touch}}</a></span>
                    </div>
                </div>
        </section>
        <!-- <section class="wrapper">
        <div class="container pt-8 pb-8">
            <div class="row gy-10">
            <div class="col-12 col-xl-7 col-lg-6 col-md-6">
                <p class="project-unlock mb-6">{{$resource.section_six.title}}</p>
                <div class="landingpage-card-client-says card mb-6">
                    <div class="card-body-clients">
                        <p class="lead fs-lg mb-2 px-4">
                            {{$resource.section_six.description}}
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-1 col-xl-1 col-lg-1 col-md-0"></div>
            <div class="col-10 col-md-5 col-xl-4 col-lg-5 text-right pt-xl-13 pt-md-16 pt-lg-8 pt-4">
                <img class="col-12 col-md-12 landingpage-image img-fluid"
                    src="{{$resource.section_six.img}}"
                    alt="" />
            </div>
        </div>
        <div class="row">
           
            <div class="col-12 col-md-10 col-xl-6 col-lg-6 pt-xl-0 pt-md-0 pt-10">

                <div class="item pb-8">
                    <div class="background-blockquote">
                        <h3 class=""><img class="pe-xl-3 pe-0"
                                src="{{$resource.section_six.row.img}}"
                                alt="" /> <span>{{$resource.section_six.row.software}}</span></h3>
                        <p class="ps-xl-11_5 ps-10 ps-md-10">{{$resource.section_six.row.place}}</p>
                    </div>
                    <div class="blockquote-details ps-20">

                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex" data-group="page-title-buttons" data-delay="600">
            <span><a class="btn btn-primary rounded-0 mx-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">{{$resource.section_six.row.btn_discover}}</a></span>
        </div>



        </div>
    </section> -->



        <section class="wrapper bg-linear-gradient">
            <div class="container pb-10 text-center">
                

                        <h4 class="mb-4 pt-6">
                            {{$resource.section_seven.title}}
                        </h4>
                        <p class="lead fs-lg mb-6">
                            {{$resource.section_seven.description}}
                        </p>
                        <div class="d-flex justify-content-center" data-group="page-title-buttons" data-delay="600">
                            <span><a class="btn btn-primary rounded-0" data-bs-toggle="modal"
                                    data-bs-target="#landingpage4Modal">{{$resource.section_seven.btn_get_in_touch}}</a></span>
                        </div>
                    
            </div>
        </section>


    </div>
    </div>

   <script>
const rows = document.querySelectorAll('.talent-rows');
var hiddenRows = Array.from(rows).slice(3);

const readMoreButton = document.getElementById('read-more');
const readLessButton = document.getElementById('read-less');
console.log(rows)
hiddenRows.forEach(item => item.classList.add('hidden'))
if (rows.length <= 3) {
    readMoreButton.classList.toggle('d-none');
}
// Show or hide the rows based on the button click
function toggleRows(event) {
    event.preventDefault();
    hiddenRows.forEach(row => {
        row.classList.toggle('hidden');
    });
    readMoreButton.classList.toggle('d-none');
    readLessButton.classList.toggle('d-none');
};

// Add click event listener to the "Read More" button
readMoreButton.addEventListener('click', toggleRows);

// Add click event listener to the "Read Less" button
readLessButton.addEventListener('click', toggleRows);




   </script>
   
   
   

    <!-- </div> -->
    <!-- /.content-wrapper -->
</body>
{{ end }}